@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model RAMMS.Web.UI.Models.FormAModel;
@{ Layout = null;
    string monthPlanned = ViewBag.SpplpMPlanned;
    string monthActual = ViewBag.SpplpMActual;
    string cutPlan = ViewBag.SpplpCPlan;
    string cutActual = ViewBag.SpplpCActual;
    string Planned = ViewBag.SpplpPlannedPer;
    string Actual = ViewBag.Actual;
    string MIRIcurrentMonthSPI = "0.00";
    string MIRIcurrentMonthPAI = "0.00";
    string BTNcurrentMonthSPI = "0.00";
    string BTNcurrentMonthPAI = "0.00";
    int? year = 0;
    int i = 1;
    List<RAMMS.DTO.ResponseBO.DLP.RMDlpSpiDTO> rMSPPLPData = new List<RAMMS.DTO.ResponseBO.DLP.RMDlpSpiDTO>();
    if (ViewBag.SPIData != null)
    {
        rMSPPLPData = (List<RAMMS.DTO.ResponseBO.DLP.RMDlpSpiDTO>)ViewBag.SPIData;
        if (rMSPPLPData.Any())
        {
            year = rMSPPLPData.FirstOrDefault().SpiYear;
        }
@if (rMSPPLPData.Any() && rMSPPLPData.Count(a => a.SpiDivCode.ToUpper() == "MIRI") != 0)
{
    int currentMonth = DateTime.Now.Month;
    foreach (var item in rMSPPLPData.Where(a => a.SpiDivCode.ToUpper() == "MIRI"))
    {
        if (item.SpiMonth == currentMonth)
        {
            MIRIcurrentMonthSPI = string.Format(new System.Globalization.CultureInfo("en-US", false), "{0:n}", item.SpiPai);
            MIRIcurrentMonthPAI = string.Format(new System.Globalization.CultureInfo("en-US", false), "{0:n}", item.SpiSpi);
        }
    }
    foreach (var item in rMSPPLPData.Where(a => a.SpiDivCode.ToUpper() == "BTN"))
    {
        if (item.SpiMonth == currentMonth)
        {
            BTNcurrentMonthPAI = string.Format(new System.Globalization.CultureInfo("en-US", false), "{0:n}", item.SpiPai);
            BTNcurrentMonthSPI = string.Format(new System.Globalization.CultureInfo("en-US", false), "{0:n}", item.SpiSpi);
        }
    }
} }
bool isSPIUpdate = false;
if (ViewBag.SPIUpdate != null)
{
isSPIUpdate = true;
} }
<div class="card-body" id="divSPI">
    <div class="row">

        <div class="col-md-1 text-right">
        </div>
        <div style="height:90%" id="divmyChart" class="col-md-11 border-bottom">
            <canvas id="myChart"></canvas>
        </div>

        <div style="height:90%;" id="divmySPIChart" class="col-md-11 border-bottom">
            <canvas id="mySPIChart"></canvas>
        </div>

        <div style="height:90%" class="col-md-12 border-bottom mb-1">
            <table style="font-size: x-small;" class="table-responsive table-striped table text-cente w-100 nowrap dataTable no-footer">
                <thead style="background-color: #c8e1ff;">
                    <tr>
                        <th></th>
                        <th>January </th>
                        <th>February</th>
                        <th>March </th>
                        <th>April</th>
                        <th>May</th>
                        <th>June</th>
                        <th>July </th>
                        <th>August </th>
                        <th>September </th>
                        <th>October</th>
                        <th>November </th>
                        <th>December</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:12%">
                            <span style="height: 10px; width: 40px; background-color:#4472c4; display: inline-block;"></span><br />
                            <span> Monthly Planned (RM) </span>
                        </td>
                        @if (!string.IsNullOrEmpty(monthPlanned))
                        {
                            foreach (var item in monthPlanned.Split(','))
                            {
            <td style="width:8%"> @string.Format(new System.Globalization.CultureInfo("en-US", false), "{0:n}", Convert.ToDecimal(item)) </td>}
                        }
                    </tr>
                    <tr>
                        <td style="width:12%">
                            <span style="height: 10px; width: 40px; background-color: #f77154; display: inline-block;"></span><br />
                            <span>Monthly  Actual (RM)</span>
                        </td>
                        @if (!string.IsNullOrEmpty(monthActual))
                        {
                            foreach (var item in monthActual.Split(','))
                            {
            <td style="width:8%">  @string.Format(new System.Globalization.CultureInfo("en-US", false), "{0:n}", Convert.ToDecimal(item))</td>}
                        }
                    </tr>
                    <tr>
                        <td style="width:12%"><div style="height: 3px; width: 40px; background-color: #164912; display: inline-block; "></div>
                        <br /> Cul. Plan (RM)</td>
                        @if (!string.IsNullOrEmpty(cutPlan))
                        {
                            foreach (var item in cutPlan.Split(','))
                            {
            <td style="width:8%">@string.Format(new System.Globalization.CultureInfo("en-US", false), "{0:n}", Convert.ToDecimal(item))</td>}
                        }
                    </tr>
                    <tr>
                        <td style="width:12%"> <div style="height: 3px; width: 40px; background-color: #ee9412; display: inline-block;"></div><br /> 
                        Cul. Actual (RM)</td>
                        @if (!string.IsNullOrEmpty(cutActual))
                        {
                            foreach (var item in cutActual.Split(','))
                            {
            <td style="width:8%"> @string.Format(new System.Globalization.CultureInfo("en-US", false), "{0:n}", Convert.ToDecimal(item))</td>}
                        }
                    </tr>
                    <tr>
                        <td style="width:12%"><div style="height: 3px; width: 40px; background-color: #006bb4; display: inline-block;"></div>
                        <br />Planned %</td>
                        @if (!string.IsNullOrEmpty(Planned))
                        {
                            foreach (var item in Planned.Split(','))
                            {
            <td style="width:8%">  @string.Format(new System.Globalization.CultureInfo("en-US", false), "{0:n}", Convert.ToDecimal(item))</td>}
                        }
                    </tr>
                    <tr>
                        <td style="width:12%"><div style="height: 3px; width: 40px; background-color: #00c856; display: inline-block;"></div>
                        <br /> Actual %</td>
                        @if (!string.IsNullOrEmpty(Actual))
                        {
                            foreach (var item in Actual.Split(','))
                            {
            <td style="width:8%"> @string.Format(new System.Globalization.CultureInfo("en-US", false), "{0:n}", Convert.ToDecimal(item))</td>}
                        }
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 border-bottom my-2">
            <div class="row">
                <div class="col-md-9 p-0 m-0">

                    <!--Map Bindding-->
                    <div class="legend-div">
                        <div id="info-box"></div>
                    </div>
                    <svg version="1.1" id="sarawak-map" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg" x="0px" y="0px" width="711.8709px" height="480px" viewBox="0 0 1080.1 727.8" style="enable-background:new 0 0 1080.1 727.8;" xml:space="preserve">
<sodipodi:namedview bordercolor="#666666" objecttolerance="10" pagecolor="#ffffff" borderopacity="1" gridtolerance="10" guidetolerance="10" inkscape:cx="509.19152" inkscape:cy="282.2353" inkscape:zoom="1.2137643" showgrid="false" id="namedview71" inkscape:current-layer="g5" inkscape:window-maximized="1" inkscape:window-y="-8" inkscape:window-x="-8" inkscape:pageopacity="0" inkscape:window-height="1017" inkscape:window-width="1920" inkscape:pageshadow="2"></sodipodi:namedview>
<path id="LIM" class="path" data-info="<div class='bld'>LIMBANG</div><div>0.00 SPI</div><div>0.00 PAI</div>" d="M1050.8,159.9c-0.3,3.2-0.4,10.4-1.4,13.1c-1.1,3.2-6.2,12.8-7.5,14.7c-1.3,1.9-3.6,3.2-5.6,3.4  c-1.1,0.1-2.4,0.9-3.1,1.9l-0.2-0.2c0,0-6.4-1-9.7-0.8c-3.3,0.2-5.9,10-7.9,13.1c-2,3.1-6.2,1-9.7,1c-3.6,0-8.2,0-11.8-0.8  c-3.6-0.8-10.5-6.4-12.3-8.5c-1.8-2.1-10-8.5-12.8-10.3c-2.8-1.8-4.4-4.9-4.6-6.7c-0.2-1.8-5.6-8.7-7.4-11.8  c-1.8-3.1-3.3-3.9-6.4-4.4c-3.1-0.5-3.3-2.8-4.4-3.9c-1-1-5.1,0-7.4,0c-2.3,0-6.4-0.5-9.2-0.5c-2.8,0-5.4-1.8-7.7-4.1  c-2.3-2.3-6.4-0.8-8.5-0.8c-2.1,0-8.2,1.3-8.2,1.3h0c-0.3-0.5-1.2-0.8-2.3-0.8c-1.8,0-0.5-1.8,0.8-3.9c1.3-2.1,3.6-4.9,5.1-6.3  c1.5-1.5,3.7-6.2,3.9-8.7c0.2-2.4-3.1,1.1-5.3,2.2c-2.2,1.1-1.3-1.6-0.4-2.3c0.8-0.7,3.2-3.5,7.5-8.9c4.3-5.4,3.2-15.1,3.3-16.3  c0.1-1.2-2.9-0.4-5.1-0.1c-2.1,0.3-4-4.1-4.4-5.6c-0.3-1.5-1.4-7.9-1.4-9.6c0-1.7,0-11.2-0.8-13.4c-0.9-2.2-1-3.5-0.9-4.5  c0.1-1.1-1.6-3.2-1.6-4c0-0.8,1.6-0.8,2.3-1c0.8-0.1-0.4-2.9-0.8-3.9c-0.4-0.9-1.8-0.8-3-0.8c-1.2,0-1.9-2.2-1.9-2.7  c0-0.5,0.4-3.3,0.4-4.7c0-1.4,5.4-2.1,7.8-2.5c2.4-0.4,3.3-7.1,3.4-7.7c0.1-0.6,6.4-4.1,8-4.6c1.6-0.5,5.2-0.1,7.2,0.6  c2,0.7,3.1,0.7,4.5,0.5c1.4-0.2,2.1-2,2.9-3.8c0.7-1.8,1.5-6,1.7-7.1c0.2-1,4.6-4.7,5.1-5.1c0.4,0.8,0.5,2.5,0.2,3.3  c-0.4,1.1-0.9,2.8-1.5,4.3c-0.6,1.5,1.7,6.3,1.7,7.9c0,1.5,2.8,1.5,3.8,1.3c-0.6,1-3.2,5-3.5,7c-0.4,2.2-0.3,3.1,0.8,4.3  c1.2,1.3,1.4,2.7,1.2,3.9c-0.2,1.2-0.1,3.4,0.2,5c0.3,1.6,1.5,5.3,1,6.3c-0.5,1.1-1.4,3.1-0.3,4.7c1.1,1.6,3.6,5.7,4.2,8.3  c0.6,2.6,2.4,5.1,2.4,6.6c0,1.5,0.1,3.1,0.7,4.2c0.5,1.2,1.4,3.9,1.1,6.3c-0.3,2.4-0.1,4.8,0.3,5.6c0.4,0.8,1.9,4,1,4.7  c-1,0.6-1.6,2.3-0.6,3.7c0.9,1.4,3.5,1.8,4.5,1.3c1.1-0.5,2.6-1.2,4-1c1.4,0.2,7.3,3.5,9.8,3.1c2.6-0.4,5.1-1.9,5.2-0.7  c0.1,1.1,0.3,4.3,1.6,4.3c1.3,0,7.2,0.8,7.7,1.8c0.5,0.9,2,2.2,2.7,3.3c0.8,1.1,4.2,2.5,4.7,1.7c0.4-0.8,4.9-7,4.2-7.4  c-0.6-0.4-2.3-0.5-2.6-1.6c-0.3-1.1-1.8-6.1-2.2-6.1c-0.4,0-3.2-0.7-3.9-1.4c0,0-5.5-5.8-6-7.6c-0.5-1.8-0.3-8.1-0.3-9.6  c0-1.5-0.3-1.9-1.4-2.8c-1.1-0.8,0.3-5.3,1.1-6.8c0.8-1.5,1.3-2.3,2-2.6c0.8-0.3,0.6-6.4,0.3-8.2c-0.3-1.8-2.9-4.4-3.8-5  c-1-0.5,0.6-3.4,1.1-4.2c0.4-0.8-1.7-2.9-2.9-3.2c-1.3-0.3,0.4-3.3,0.9-4.5c0.5-1.1-2.1-3.2-3.7-5.4c-1.6-2.2,0.3-5.7,0.7-6.9  c0.3-1.2-6.3-6.7-6.9-7c-0.6-0.3-2.4-3.5-2.9-4.3c-0.4-0.9-1.9-1.1-3.2-1.6c-1.3-0.5-1.9-2.9-2.3-3.7c-0.3-0.7-1.5-1.8-1.9-2.3  c1.3-0.6,2.4-1.2,3.4-2c1.1-0.9,3.5-1.3,4.9-1.4c1.4-0.1,1.4-2,1.7-3.4c0.4-1.4,1-1.2,1.6-1.6c1.1-0.7,1.7-2.9,3.3-2.9  c1.5,0,2.9,4.9,4.4,7c1.5,2.1,2.6,2.5,5.1,2.5c2.5,0,5,2.6,6.7,3.8c1.6,1.1,7.1-0.4,8.4-1.1c1.3-0.8,3-3.3,3.4-4.8  c0.4-1.5,1.2-3.3,2.3-4.5c1-1.2,3.4-3.1,5.9-3.9c0.6-0.2,1.1-0.5,1.5-0.9l0.2,0.3c0,0,4.4,1.3,5.7,2.1c1.3,0.8,4.6,1.5,6.1,0.8  c1.6-0.8,4.6-3.3,7.5-3.9c2.8-0.5,8.7,4.6,8.7,10c0,5.4,0.8,8.7,1.3,11.3s3.3,12,2.3,13.3c-1,1.3-4.1,5.1-5.1,8.2  c-1,3.1-2.8,10.3-5.9,14.4c-3.1,4.1-5.4,8.7-3.8,11.6c1.5,2.8,4.4,3.9,4.6,8.2c0.2,4.4,0.5,10,0.5,14.1c0,4.1,0.8,12.3,2.6,14.1  c1.8,1.8,4.6,2.6,7.7,6.2c3.1,3.6,3.1,7.9,1.5,9c-1.5,1-3.1,1.8-3.3,4.4c-0.2,2.6-0.2,8.2-0.2,10.3c0,2,0,5.1,2.6,6.4  C1047.3,158.3,1050.2,159.7,1050.8,159.9z" />
<path id="MIR" class="path" data-info="<div class='map-body'> <div class='cont-map'><div class='valuecont'>  <p>OVERALL SPI Miri Division</p> <p> SPI = Service Provider Indicator</p> </div> <div  class='valueone'>@MIRIcurrentMonthPAI</div> </div><div class='cont-map'><div class='valuecont'> <p>OVERALL PAI Miri Division</p> <p> PAI = Performance Accomplishment Index </p> </div> <div class='valueone'>@MIRIcurrentMonthSPI</div> </div></div> <div class='map-subbody'> <div class='text-bld'><p>RMU = Road Maintenance Unit</p>RMU MIRI</div><div class='map-count'>@MIRIcurrentMonthPAI <span>SPI</span></div><div class='map-count'>@MIRIcurrentMonthSPI <span>PAI</span></div></div><div class='map-subbody'><div class='text-bld'><p>RMU = Road Maintenance Unit</p>RMU BATU NIAH</div><div class='map-count'>@BTNcurrentMonthSPI <span>SPI</span></div><div class='map-count'>@BTNcurrentMonthPAI <span>PAI</span></div></div>" d="M1039.9,263c1.3,2.2,6.8,9.4,6,10.7c-0.8,1.3-2.4,4.9-3.8,4.5c-1.3-0.4-1.5-4-3.2-4.7c-1.7-0.8-2.3,0-4.9,1.7  c-2.6,1.7-5.2,7.9-5.2,9.8c0,1.9,1.1,3.8,0,7.1c-1.1,3.4-1.9,4.2-1.9,6.6c0,2.4,0.8,6.8-0.2,7.9c-0.9,1.1-2.7,3.9-1.5,5.2  c1.1,1.3,6.8,8.7,4.5,10.9s-5.1,3-5.4,5.4c-0.4,2.5,0,9.8-2.6,12c-2.6,2.3-11.7,2.7-12.6,3.8c-0.9,1.1-5.3,6-6.4,6.2  c-1.1,0.2-11.1,1.5-11.7-0.8c-0.6-2.2-0.8-2-2.1-4.5c-1.3-2.4-4.1-3.7-4.7-1.9c-0.5,1.9-4.5,8.7-6.8,10c-2.3,1.3-5.6,4.3-7.9,5.1  c-2.3,0.8-4.5,2.4-4.9,6.6c-0.4,4.1-1.9,6.8-3.9,8.6c-1.3,1.2-3.9,3-5,4.3c-5.5-2.8-8.8,4-9,6.3c-0.2,2.3-1.2,4.3-6.3,7.8  c-5,3.5-9,6-13.5,6s-7.3-1.3-10.5-3c-3.3-1.8-12-0.8-16.8-0.8c-4.8,0-10.3-4.3-13.1-7c-2.7-2.7-3.3-7.3-3.5-9.5  c-0.3-2.3-3-5-5.5-5.3c-2.5-0.3-3-2.8-3.8-4.3c-0.8-1.5-1.7-2-4.5-2c-2.7,0-6,1-8.5,2.3c-2.5,1.3-5.5-7.5-5.5-10.5s-3.3-5-7.3-5.5  c-4-0.5-12.5-11.8-13.5-15.6c-1-3.8-6.8-4.5-10.5-7c-3.8-2.5-4.5-8.5-3.5-9.5c1-1,5.8-4,6.8-4.5c1-0.5-11.8-12.5-15.3-14.3  c-3.5-1.7-2-2-2.8-4.8c-0.8-2.8-3-3-5.3-3.5c-2.3-0.5-2.5-2.5-4-4.5c-1.5-2-5.8,3.8-7.8,5.5c-2,1.7-10.3,1.5-13.3,1.7  c-3,0.2,1-6.8,1-10c0-2.1-1.9-1.1-4.1-0.1c-1.3,0.6-2.7,1.1-3.9,1.1c-3.3,0,0.8-5.8,1.7-7c1-1.3-0.2-2.3-3-2.5  c-2.8-0.2-2.5-1.5-2.3-4s0.8-2.5,2-3.8c1.2-1.3-1.5-7.8-3.5-9.5c-2-1.7-5.3-3.8-8.5-3.8c-3.3,0-2.8,1-4.3,3.5c-1.5,2.5-1.5,3.3-4,6  c-2.5,2.8-4.3,14.3-5.5,16.8c-1.2,2.5-3,5.3-5.7,6.8c-2.8,1.5-5.3,4.5-8,5c-2.8,0.5-6.8-3.8-8-5.3c-1.2-1.5-5.5-1-8-0.8  c-2.5,0.2-2-6.8-1.8-7.8c0.3-1-4.2-5.8-6-6c-1.7-0.3-6.5-1.5-10-1c-3.5,0.5-5.8-1.5-7-5c-1.3-3.5-1.5-9.5-2-14.3  c-0.5-4.8-0.2-4.5-2.3-7c-2-2.5-7-8.5-8.3-11.3c-1.3-2.7-3.3-5.3-3.3-5.3l-0.2-0.2c1.6-2.4,1.1-5.8,1.2-7c0.1-1.3,6.8-5.4,8.4-6.4  c1.6-1,12.5-8.9,20.1-14.1c7.5-5.3,22.8-23.7,26.7-27c3.9-3.3,7.8-11.3,9.4-14.9c1.6-3.6,8.8-11.3,13.8-16.4c5-5.1,8.8-13.5,10-16.3  c1.3-2.7,2.1-4.9,1.4-6.4c-0.8-1.5,0-2.1,0.4-3.4c0.4-1.2,3.1-6,4.4-9.1c1.2-3.1-0.5-11.2-1.3-13.3c-0.8-2.1-2.4-9.8-2.6-11.6  c-0.2-1.7,4.8-2.4,8.8-2.3c1.4,0,4.8,0.2,9,0.3l0.1,1.9l13.9,1.5l5.5,6.8c0,0,2.9-0.4,3.9,0.1c0.9,0.5,6,3.2,6,3.2l10.1,19.9  l-1.3,4.8l4.8,3.2l-3.7,12.4c0,0,0.6,2.4,2.4,2.2c1.8-0.2,10.3-1.5,11.1-1.2c0.8,0.3,3.2,1.7,3.7,1.2c0.5-0.5,3.1-4.4,3.9-3.9  c0.8,0.5,2,1.1,2,2c0,1-0.3,3.9-0.3,3.9l7,17.1c0,0,3.3-0.4,4.7,0.2c1.4,0.6,3.1,1,3.2,2.8c0.1,1.8-0.2,2.2,0.6,3.2  c0.8,1,0.8,4.5,2.2,4.8c1.4,0.3,1.8,0.8,2.2,1.7c0.4,0.8,1.5,2.9,2.5,3.2c1.1,0.2,4.2,1.3,4.2,1.3c2.4,0.1,1.5,1.9,1.5,2.8  c0,0.8-1,2.4-1.5,3.1c-0.5,0.6,3.5,0.2,5.5-0.3c2-0.5,8.5-3.1,10.4-4.2c1.9-1.1,15-16.9,16.4-18.4c0.5-0.6,0.7-1.1,0.5-1.4h0  c0,0,6.1-1.3,8.2-1.3c2,0,6.1-1.5,8.5,0.8c2.3,2.3,4.9,4.1,7.7,4.1c2.8,0,6.9,0.5,9.2,0.5c2.3,0,6.4-1,7.4,0c1,1,1.3,3.3,4.4,3.9  c3.1,0.5,4.6,1.3,6.4,4.4c1.8,3.1,7.2,10,7.4,11.8c0.3,1.8,1.8,4.9,4.6,6.7c2.8,1.8,11,8.2,12.8,10.3c1.8,2,8.7,7.7,12.3,8.5  c3.6,0.8,8.2,0.8,11.8,0.8c3.6,0,7.7,2.1,9.7-1c2-3.1,4.6-12.8,7.9-13.1c3.3-0.3,9.7,0.8,9.7,0.8l0.2,0.2c-0.6,0.8-0.7,1.8,0.1,2.6  c1.7,1.9,8.5,5.1,7.9,7c-0.6,1.9-6.8,21.3-7.3,25.8c-0.5,4.5-0.4,19.3,0.8,20.7c1.1,1.3,4.3,3.6,4.3,5.4  C1038.9,256.4,1038.5,260.7,1039.9,263z" />
<path id="KAP" class="path" data-info="<div class='bld'>KAPTI</div><div>0.00 SPI</div><div>0.00 PAI</div>" d="M972.9,424.3c1.9,1.1,3.4,2.1,3.4,4.7c0,2.7-3.6,7.3-7.3,7c-3.8-0.4-13.9,2-14.9,4.9c-0.9,2.8-0.5,6-3.4,6.6  c-2.8,0.6-7,0.9-9,3c-2.1,2.1-6,6.2-7.5,5.1c-1.5-1.1-3.4-1-4.7,0c-1.3,0.9-2.1,5.8-1,7.7c1.1,1.9,1.3,4.5-0.4,6  c-1.7,1.5-1.9,1.7-5.8,1.9c-3.9,0.2-6.6,0.8-9,1.7c-2.4,1-3.9,1.7-6,1.3c-2.1-0.4-4.5,2.3-4.9,4.2c-0.4,1.9-2.8,13.5-1.5,15.6  c1.3,2.1,3,3.6,3.7,6c0.8,2.5,1.5,3.8,0.8,5.5c-0.8,1.7-1.7,3.9-1.3,5.1c0.4,1.1,3.9,3.2,5.4,1.9c1.5-1.3,4.7-3.2,6.9-2.4  s1.9,4.1,1,4.9c-1,0.8-4.7,4.3-5.1,5.7c-0.4,1.3-0.4,3,1.1,4.5c1.5,1.5,2.7,3.5,0.8,5.4c-1.9,1.9-6,0.6-8.1,2.4  c-2,1.9-3,5.8-4.7,6.2c-1.7,0.4-4.1-1.7-6.2-1.7s-3.9-1.1-4.3,2.3c-0.4,3.4-4.5,4.5-3.9,7.7c0.6,3.2,1.1,3.7,1.1,6.4s0,7.2,0,9.4  c0,2.3,0,6.8-1.7,7.7c-1.7,0.9-3.5,1.1-4.5,4.1c-0.9,3-1.1,6.2-4.3,7.9c-3.2,1.7-5.2,2.8-6.2,4.3c-0.9,1.5-0.9,4.2-0.8,5.8  c0.2,1.7,1.7,3.4,0,6.6c-1.7,3.2-6.4,10.7-6.4,10.7s-3.8-0.6-4.9-1.1c-1.1-0.6-4.1-3-5.6-4.3s-3.9-1.9-6.2-2.3  c-2.2-0.4-8.1-4.9-10.9-6.4s-3.8,3.4-5.3,4.5c-1.5,1.1-6,1.5-7.9,2.1c-1.9,0.6-5.1,3.4-7.3,3.9c-2.3,0.6-7,0.4-7,0.4l-4.9,6.8  c0,0-9.6-7.5-10.4-8.3c-0.8-0.8-5.4,0.4-9.4,0c-3.9-0.4-8.7,1.5-10.7,2.1c-2,0.5-5.1,0.4-7.9,0.4s-5.7,1.5-6.8,2.8  c-1.1,1.3-5.1,2.6-7.5,4.3c-2.4,1.7-8.3,3.5-10.7,4.1c-2.4,0.6,0,5.7,0,7.2c0,1.5-2.4,4.9-3.6,5.8c-1.1,1-13.5,5.7-15.4,6.4  c-1.9,0.8-5.7,5.6-7.5,6.8c-1.9,1.1-4.9,0.2-6.2-0.8c-1.3-0.9-2.3-4.9-3.9-5.6c-1.7-0.8-2.8-4.2-3.4-5.7c-0.6-1.5-1.3-3.2-3.2-4.2  c-1.9-0.9-11.6-0.2-13.9,1.1c-2.3,1.3-6,3-7,3.6c-1,0.6-5.5-1.5-5.8-2.7c-0.4-1.1-3.6-2.6-5.5-3.6c-1.9-0.9-3.2-3.2-3.2-4.9  s-7.7-3.2-9.2-3.6c-1.5-0.4-7.2-2.1-10.7-2.4c-3.6-0.4-6.8,0.4-9,0.9c-2.3,0.6-6-0.2-7.7-1.7c-1.7-1.5-3.8-4.5-5.5-6.6  c-1.7-2-5.3,1.9-8.8,2.1c-3.5,0.2-2,0.6-5.2,1.7c-3.2,1.1-5.3,0.8-6.8,0.2c-1.5-0.6-1.1-3.2-0.7-4.5c0.4-1.3,7.3-4.7,8.5-5.3  c1.1-0.5,2.4-6.2,4.1-8.2c1.7-2.1,2.5-3.4,1.5-5.1c-0.9-1.7-8.3-3.4-10-4.2c-1.7-0.8-5.4,1.1-8.3,0.6c-2.8-0.6-6.9-1.5-9.2-2.1  c-2.3-0.6-4.9,3.9-6.4,5.3c-1.5,1.3-5.8,1.7-7.9,1.3c-2.1-0.4-3.4-1.9-4.5-3c-1.1-1.1-13,0.8-14.7,0.9c-1.7,0.2-3.8-0.2-6-1.1  c-2.3-1-4.1,0.4-7.1,0.4c-3,0-19.6-2.6-21.5-3c-1.9-0.4-7.1,6.2-8.3,7.7c0,0-2,2.3-5.1,2.5c-3,0.2-8.3,2-10.4,2  c-2.1,0-4.5,0-5.8,1.7c-1.3,1.7-2.4,4.9-5.3,5.1c-1.2,0.1-3.6,0.7-5.9,1.5c-1.5-0.4-5.3-1.4-7.9-1.4c-3.3,0-14.3,0-19.1-0.8  c-4.8-0.8-9.8-6.5-10.5-8.5c-0.8-2-1.7-5.5-2-8c0-0.4-0.3-0.7-0.6-1l0.1-0.1c3,0.2,6-0.9,7.3-1.7c1.3-0.8,2.4-5.1,2.6-6.4  c0.2-1.3,5.7-1.3,6.8-2.2c1.1-1,3.6,0,6-0.2c2.5-0.2,3.2,0,5.5-3.8c0.8-1.4,0.9-5.4,0.9-7.9c0,0,5.6,0.4,7,0.4c1.3,0,1.7,1.3,3.2,3  c1.5,1.7,4-2,5.3-3c1.3-0.9,4.7-5.3,7.3-6.9s7.7,0,10.5,0c2.8,0,5.3-3.6,6.8-4.7c1.5-1.1,3.8-2.7,4.9-4.7c1.1-2-3.7-5.2-5.1-6.6  c-1.3-1.3-2.1-3.4-1.7-5.8c0.4-2.4,3.7-1.3,6.4-1.3c2.6,0,4.9-5.8,5.7-8.8c0.7-3,1.1-3.7,1.7-5.2c0.5-1.5-1.7-4.5-3.4-5.5  c-1.7-0.9-2.4-0.5-4.9-2.3c-2.4-1.7-4.7-3.9-6.2-5.1c-1.5-1.1-0.5-3,1.1-4.9c1.7-1.9,0.8-5.3,0.8-8.7c0-3.4,3.8-6.2,5.4-7.3  c1.7-1.1,7.7-2.1,10.2-2.1c2.4,0,4.3,0,7.1,0c2.8,0,5.4-1.3,7.9-2.4c2.3-1.1,3.9-0.5,7.1-1.5l0,0.1c0,0,0.4,2.1,1.9,2.8  c1.5,0.8,5.6,0.9,8.1,0.9c2.5,0,2.5,1.9,4.5,3.2c2.1,1.3,14.5,0.8,16,0.6c1.5-0.2,2-1.3,3.2-2.6c1.1-1.3,3-0.8,5.3-0.8  s4.7-7.5,5.3-9.6c0.6-2.1,1.3-5.3,3-6.8c1.7-1.5,8.1-1.1,10.2-1.3c2-0.2,3.2-4.7,3.4-5.8c0.2-1.1,1.7-1.3,3-1.3  c1.3,0,3.6,0.9,4.9,0.4c1.3-0.6-2-3.9-3.7-5.7c-1.7-1.7-1.7-6.4-1.5-9c0.2-2.6,4.5-6.4,6.6-6.4c2.1,0,2.8-0.9,4.9-1.9  c2.1-1,3.8-0.4,5.8-0.4c2.1,0,8.7-6.9,10.9-7.9c2.3-0.9,6.2-1.9,8.3-2.6s6.9-4.1,8.7-5.1c1.7-0.9,16.3-0.2,17.8-0.5  c1.5-0.4,0.6-2.6,5.1-2.3c4.5,0.4,2.3-0.5,4.3-0.9c2-0.4,1.5,5.8,1.7,7.9c0.2,2,2.3,0,3.6-1c1.3-0.9,3-2.6,3.6-3.9  c0.5-1.3,2.6-1.7,4.5-1.7c1.9,0,6.7-8.3,8.1-9.2c1.3-0.9,4.5-1.5,7,0c2.4,1.5,3.9-1.7,4.9-3c0.9-1.3,0-4.3,0-6c0-1.7,6-4.2,6-5.7  c0-1.5-0.9-4.5-3-5.4c-2.1-0.9-5.3-0.8-8.7-1.3c-3.4-0.5-1.5-2-0.2-4.1c1.3-2.1,4.9-0.6,7-0.8c2-0.2,2.2-2.7,2.4-4.7  c0.2-2.1,1.7-3.2,3-4c1.3-0.8,2.4-4.9,3.9-6.6c1.5-1.7,2.4-6.2,4.2-8.5c1.7-2.3,7.7-8.6,9.2-11.3c1.5-2.6,9.2-9.2,10.7-10.7  c1.5-1.5,2.6-2.6,3.8-4.3c1.1-1.7,1.9-7.3,2.6-10c0.8-2.6,1.5-4.2,2.5-5.4c0.9-1.3,0.8-4.9,0.8-6.4c0-1.5,1.3-3.8,2.6-5.1  c1.3-1.3,7.9-8.7,9.2-10c1.3-1.3,2.6-1.7,3.4-2.6c0.8-0.9,0.8-3.2,1.3-4.5c0.6-1.3,3.2-3.8,3.2-3.8l-0.1-0.2c2.2-1,4.1-1.9,4.1,0.1  c0,3.3-4,10.3-1,10c3-0.2,11.3,0,13.3-1.7c2-1.8,6.3-7.5,7.8-5.5c1.5,2,1.7,4,4,4.5c2.3,0.5,4.5,0.8,5.3,3.5c0.8,2.8-0.8,3,2.8,4.8  c3.5,1.8,16.3,13.8,15.3,14.3c-1,0.5-5.7,3.5-6.8,4.5c-1,1-0.2,7,3.5,9.5c3.8,2.5,9.5,3.3,10.5,7c1,3.8,9.5,15,13.5,15.6  c4,0.5,7.3,2.5,7.3,5.5s3,11.8,5.5,10.5c2.5-1.2,5.8-2.3,8.5-2.3c2.8,0,3.8,0.5,4.5,2c0.8,1.5,1.3,4,3.8,4.3c2.5,0.2,5.3,3,5.5,5.3  c0.2,2.3,0.8,6.8,3.5,9.5c2.8,2.8,8.3,7,13.1,7c4.8,0,13.5-1,16.8,0.8c3.3,1.7,6,3,10.5,3s8.5-2.5,13.5-6c5-3.5,6-5.5,6.3-7.8  c0.3-2.3,3.5-9,9-6.3c-0.6,0.8-0.7,1.5,0.5,1.7c3.2,0.6,5.6,0.6,5.1,4.5c-0.6,4-0.6,5.8-2.3,7c-1.7,1.1-7.3,2.2-5.3,5.6  c2,3.4,3.2,4.1,2,6.6c-1.1,2.4-2,6.9-2,8.8c0,1.9,3.4,6,4.9,5.2c1.5-0.7,6-3.7,8.1-1.5C968.8,417.9,971,423.2,972.9,424.3z" />
<path id="BIN" class="path" data-info="<div class='bld'>BINTULU</div><div>0.00 SPI</div><div>0.00 PAI</div>" d="M553.9,373.1c-1.3-2-0.3-4.7-0.1-5.6c0.2-1.1,3.6-5.1,4.3-6.7c0.8-1.7-0.2-13-0.4-14.3  c-0.2-1.3-0.4-5.1-1.3-5.8c-0.8-0.7-2.5-2.2-2.9-2.6c8.7-2.5,20.5-5.6,26.5-6c9.7-0.8,24.2-9.9,26.6-11.4c2.4-1.5,3.9-5,4.4-6.6  c0.5-1.6,2.4-3.8,4.1-4.9c1.8-1.1-0.1-3.6-0.9-4.3c-0.8-0.6-1.4-1.5-0.6-2.4c0.8-0.9,12.7-9.8,15-10.7c2.4-0.9,2.3-3.8,2.5-6.8  c0.2-3,3.5-5.9,6.5-7.8c3-1.9,10.5-9.5,13.1-11.9c2.5-2.4,2.4-6.2,2.6-8c0.3-1.9,7.3-8.3,9-9.4c1.8-1.1,2.5-3.6,3.1-6.2  c0.6-2.5,6.3-8.8,8-11.2c0.1-0.1,0.1-0.2,0.1-0.3l0.2,0.2c0,0,2,2.5,3.3,5.3c1.3,2.8,6.3,8.8,8.3,11.3c2,2.5,1.7,2.3,2.3,7  c0.5,4.8,0.8,10.8,2,14.3c1.2,3.5,3.5,5.5,7,5c3.5-0.5,8.3,0.8,10,1c1.8,0.2,6.3,5,6,6c-0.2,1-0.8,8,1.8,7.8c2.5-0.2,6.8-0.8,8,0.8  c1.3,1.5,5.3,5.8,8,5.3c2.8-0.5,5.3-3.5,8-5c2.7-1.5,4.5-4.2,5.7-6.8c1.3-2.5,3-14,5.5-16.8c2.5-2.8,2.5-3.5,4-6  c1.5-2.5,1-3.5,4.3-3.5c3.3,0,6.5,2,8.5,3.8c2,1.8,4.8,8.3,3.5,9.5c-1.3,1.3-1.8,1.3-2,3.8s-0.5,3.8,2.3,4c2.8,0.3,4,1.3,3,2.5  c-1,1.2-5,7-1.7,7c1.2,0,2.6-0.6,3.9-1.1l0.1,0.2c0,0-2.6,2.4-3.2,3.8c-0.6,1.3-0.6,3.6-1.3,4.5c-0.8,0.9-2.1,1.3-3.4,2.6  c-1.3,1.3-7.9,8.7-9.2,10c-1.3,1.3-2.6,3.5-2.6,5.1c0,1.5,0.2,5.1-0.8,6.4c-1,1.3-1.7,2.8-2.5,5.4c-0.7,2.6-1.5,8.3-2.6,10  c-1.1,1.7-2.3,2.8-3.8,4.3c-1.5,1.5-9.2,8.1-10.7,10.7c-1.5,2.7-7.5,9-9.2,11.3c-1.7,2.3-2.6,6.8-4.2,8.5c-1.5,1.7-2.6,5.8-3.9,6.6  c-1.3,0.8-2.8,1.9-3,4c-0.2,2-0.4,4.5-2.4,4.7c-2.1,0.2-5.7-1.3-7,0.8c-1.3,2.1-3.2,3.6,0.2,4.1c3.4,0.6,6.6,0.4,8.7,1.3  c2.1,0.9,3,3.9,3,5.4c0,1.5-6,3.9-6,5.7c0,1.7,0.9,4.7,0,6c-0.9,1.3-2.4,4.5-4.9,3c-2.5-1.5-5.7-0.9-7,0c-1.3,0.9-6.2,9.2-8.1,9.2  c-1.9,0-4,0.4-4.5,1.7c-0.6,1.3-2.3,3-3.6,3.9c-1.3,1-3.4,3-3.6,1c-0.2-2.1,0.4-8.3-1.7-7.9c-2.1,0.4,0.2,1.3-4.3,0.9  c-4.5-0.4-3.6,1.9-5.1,2.3c-1.5,0.4-16.2-0.4-17.8,0.5c-1.7,1-6.6,4.3-8.7,5.1s-6,1.7-8.3,2.6c-2.3,1-8.8,7.9-10.9,7.9  c-2,0-3.7-0.6-5.8,0.4c-2.1,0.9-2.8,1.9-4.9,1.9c-2,0-6.4,3.8-6.6,6.4c-0.2,2.6-0.2,7.3,1.5,9c1.7,1.7,5.1,5.1,3.7,5.7  c-1.3,0.6-3.5-0.4-4.9-0.4c-1.3,0-2.8,0.2-3,1.3c-0.2,1.1-1.3,5.7-3.4,5.8c-2.1,0.2-8.5-0.2-10.2,1.3c-1.7,1.5-2.4,4.7-3,6.8  c-0.6,2-3,9.6-5.3,9.6s-4.1-0.5-5.3,0.8c-1.1,1.3-1.7,2.4-3.2,2.6c-1.5,0.2-13.9,0.8-16-0.6c-2-1.3-2-3.2-4.5-3.2  c-2.4,0-6.6-0.2-8.1-0.9c-1.5-0.8-1.9-2.8-1.9-2.8l0-0.1c0.2-0.1,0.5-0.1,0.8-0.2c3.8-1.3,5.3-0.5,8.3-0.7c3-0.2,2.4-2.6,3-4.3  c0.6-1.7,9.2-1,11.7-1c2.4,0,2.3-3.5,2.3-5.8s-5.1-2.4-7.3-2.4s-2.3-0.6-3.4-1.7c-1.1-1.1-4.5-0.9-7.9-1.5c-3.4-0.6-4.3-5.4-4.5-6.9  c-0.2-1.5,1.1-4.7,2.1-5.7c0.9-0.9,5.6-7.9,6.9-9.8c1.3-1.9,2.1-5.8,2.1-8.8s2.3-5.7,3.8-6.4c1.5-0.8-1.5-5.4-2.4-6.6  c-1-1.1-0.6-6.7-0.6-8.2c0-1.5,8.8-1.5,13-1.5c4.2,0,8.5-1.3,8.5-2.6s-2.4-5.1-3.8-6c-1.3-0.9-7.1-2.1-10-2.1  c-2.8,0-5.6-1.7-6.8-3.9c-1.1-2.3,0.4-3.2,2.8-3.9c2.4-0.8,5.3-1.3,6.4-2.3c1.1-1,1.7-4,0-5.3c-1.7-1.3-4.5-0.4-6.8-2.3  c-2.3-1.9-1.9-4.3-5.3-6C554.7,374.1,554.2,373.7,553.9,373.1z" />
<path id="SIB" class="path" data-info="<div class='bld'>SIBU</div><div>0.00 SPI</div><div>0.00 PAI</div>" d="M575,400.3c1.3,0.9,3.8,4.7,3.8,6s-4.3,2.6-8.5,2.6c-4.2,0-13,0-13,1.5c0,1.5-0.4,7.1,0.6,8.2  c0.9,1.1,3.9,5.8,2.4,6.6c-1.5,0.8-3.8,3.4-3.8,6.4s-0.8,6.9-2.1,8.8c-1.3,1.9-6,8.8-6.9,9.8c-1,1-2.3,4.2-2.1,5.7  c0.2,1.5,1.1,6.4,4.5,6.9c3.4,0.6,6.8,0.4,7.9,1.5c1.1,1.1,1.1,1.7,3.4,1.7s7.3,0.2,7.3,2.4s0.2,5.8-2.3,5.8c-2.4,0-11.1-0.7-11.7,1  c-0.6,1.7,0,4.1-3,4.3c-3,0.2-4.5-0.6-8.3,0.7c-0.3,0.1-0.5,0.2-0.8,0.2c-3.2,1-4.8,0.4-7.1,1.5c-2.5,1.1-5.1,2.4-7.9,2.4  c-2.8,0-4.7,0-7.1,0c-2.5,0-8.5,0.9-10.2,2.1c-1.7,1.1-5.4,3.9-5.4,7.3c0,3.4,0.9,6.8-0.8,8.7c-1.7,1.9-2.6,3.8-1.1,4.9  c1.5,1.1,3.8,3.4,6.2,5.1c2.4,1.7,3.2,1.3,4.9,2.3c1.7,1,3.9,4,3.4,5.5c-0.6,1.5-1,2.2-1.7,5.2c-0.8,3-3,8.8-5.7,8.8  c-2.6,0-6-1.1-6.4,1.3c-0.4,2.4,0.4,4.5,1.7,5.8c1.3,1.3,6.2,4.5,5.1,6.6c-1.1,2.1-3.4,3.6-4.9,4.7c-1.5,1.1-3.9,4.7-6.8,4.7  c-2.8,0-7.9-1.7-10.5,0s-6,6-7.3,6.9c-1.3,1-3.8,4.7-5.3,3c-1.5-1.7-1.9-3-3.2-3c-1.3,0-7-0.4-7-0.4c0-0.7,0-1.3,0-1.7  c0-1.7,2.3-3.2,2.6-4.2c0.4-0.9-2.4-4.2-4.1-4.7c-1.7-0.6-6.2-1.3-7.9-1.3c-1.7,0-3.6-1.9-4.9-3.6c-1.3-1.7-3.2-2.6-5.3-3.2  c-2.1-0.6-3.4-4.1-3-5.8c0.4-1.7,2.4-3.4,2.3-6.4c-0.2-3-4-3.6-6.2-5.3c-2.3-1.7-1.7-3-4.2-4.3c-2.4-1.3-3-1.5-3-6.2  c0-4.7,1.1-8.1,1.1-11.1c0-3-0.6-4.3-1.7-4.7c-1.1-0.4-15.2,0.8-17.3,0.9c-2,0.2-1.9,0.8-3.8,1.5c-1.9,0.8-3.6,0.6-5.3,0  c-1.7-0.6-3.4-0.8-3.9-3.4c-0.6-2.6-0.9-9-0.9-11.3c0-2.2-2.1-4.7-3.4-5.4c-1.3-0.8-2.8-2.4-3.8-3.8c-0.9-1.3-6.4-5.1-8.3-6.9  c-1.9-1.9-0.8-3.2-0.8-4.7s-3.8-0.2-5.4,0.9c-1.7,1.1-4.9,0.6-6.8,0c-1.9-0.6-4.2-5.7-4.2-7.2s2.5-4.7,3.2-5.6  c0.2-0.3,0.4-1,0.5-1.9c0.3-2.3,0.2-6.1,0.1-7.3c-0.2-1.7-1.5-3.9-2.3-5.3c-0.7-1.3,0.2-17.3,0.4-19c0.2-1.7,4.5-2.8,6.6-3.2  c2-0.4,4.7-3.5,5.4-4.7c0.8-1.1,3-2.6,3.6-2.6c0,0,7,0.8,9.6,1.1c2.6,0.4,17.7,0.6,19.2,0.6c1.5,0,6.4,2.8,7.3,3.6  c0.9,0.7,5.3,3.4,6.2,4.3c0.9,0.9,8.1,1.9,11.9,1.9s8.3,1.1,10.7,1.9c2.4,0.8,10.2,5.3,12,6.6c1.9,1.3,12,0.6,15,0.4  c3-0.2,6.2-1.5,8.1-3.2c1.9-1.7,4.3-6.6,4.5-8.8c0.2-2.3,0.9-6.6,1.7-7.9s9.2-5.4,12.8-6.9c3.6-1.5,8.1-3.2,9.8-4.5  c1.7-1.3,5.3-7,5.6-8.3c0.4-1.3,2.8-3.8,5.1-5.8s3.6-6.9,4.9-8.5c1.3-1.5,7-3.8,8.6-4.3c1.7-0.6,3.9-0.9,5.8-1.5  c1.7-0.5,8.6-0.1,9.9,0c0.3,0.5,0.8,1,1.5,1.4c3.4,1.7,3,4.1,5.3,6c2.3,1.9,5.1,0.9,6.8,2.3c1.7,1.3,1.1,4.3,0,5.3  c-1.1,0.9-3.9,1.5-6.4,2.3c-2.5,0.8-4,1.7-2.8,3.9c1.1,2.3,3.9,3.9,6.8,3.9C567.8,398.2,573.6,399.3,575,400.3z" />
<path id="SRI" class="path" data-info="<div class='bld'>SRI AMAN</div><div>0.00 SPI</div><div>0.00 PAI</div>" d="M476.3,606c-3.2,1.1-6.3,2.4-6.7,3.4c-0.8,1.7-1.9,3.8,0.6,5.3c2.4,1.5,3.6,3.4,2.8,6.2  c-0.8,2.8-7,7.5-7.3,10.4c-0.4,2.8,0,4.3-0.8,6.2c-0.8,1.9,0.2,6.4-1.1,8.7c-1.3,2.3-4.1,5.1-3.6,6.9c0.5,1.9,0.4,5.3-1.7,5.3  c-2.1,0-24.9,1.9-26.7,2.3c-1.9,0.4-4.5,1.1-6,3.8c-1.5,2.6-2.1,3.9-2.8,4.1c-0.8,0.2-4.3,1.9-4.9,3.4c-0.6,1.5-3.2,9.2-5.1,9.4  c-1.9,0.2-3.4,1.9-5.6,0.2c-2.3-1.7-4-3-4.7-1.7c-0.8,1.3-2.3,2-3,1.1c-0.8-0.9-1.3-1.5-3.9-1.5c-2.6,0-4.7,1.3-6.4,0.2  c-1.7-1.1-6-5.6-10.5-3.8c-4.5,1.9-7.5,7-9.2,7.2c-1.7,0.2-6.8-0.2-6.8-0.2s0.4,7.5-1.9,6.6c-2.3-0.9-4-4.1-4.2-5.4  c-0.2-1.3-5.1-6.4-6.8-7.1c-1.7-0.8-4.1-0.2-5.1,0.7c-0.9,1-5.8,3.4-9.6,1.7c-3.8-1.7-6-3-9.2-4.5c0,0-8.3-2.3-10.4-2.7  c-2.1-0.4-5.3-2.1-6.2-2.8c-1-0.8-10.4,2.8-13.5,3.5c-3.2,0.8-10.9,0.4-13,0.4c-2,0-6.8,2.4-10.9,3.4c-0.7,0.2-1.5,0.3-2.3,0.4  c0-1,0-5.8-0.3-7.3c-0.2-1.7-0.5-4-2-5c-1.5-1-1.5-4-1.5-7.5c0-3.5-4-3.8-3.8-7.3c0.2-3.5,4.8-4.3,7-4.3s8.8-0.2,11.8-1.3  c3-1,4.2-4.2,4.5-6.5c0.2-2.3,2-5,3.8-7.8c1.7-2.7,1.2-5,1.2-6.3c0-1.3,0-5.3,0-5.3l0.2-0.6c2.1,0.7,3.5,2.2,4.8,3.4  c1.6,1.5,4,0.2,6.1-0.3c2.1-0.5,4-2.6,6.8-3.6c2.8-1,4.3,1.9,5.9,4.8c1.6,2.9,1.4,2.3,3.6,4.1c2.3,1.9,5.1,2,6.9,1.6  c1.7-0.4,2.4-0.9,1.9-2.1c-0.5-1.3-2.1,0.2-4.8-1.5c-2.6-1.8-1-3.1-1.6-5.9c-0.6-2.8-3-3.4-4.2-3.9c-1.1-0.5-6.4-1.1-8-1  c-1.6,0.1-4.5,1.7-5.8,2.1c-1.3,0.5-3.9,1.3-5.3,0.6c-1.4-0.6-6.5-4.6-8.2-5.8c-1.6-1.1-7-2.5-8.9-4c-1.9-1.5-2.3-6.8-2.4-8  c-0.1-1.2-4.6-3.5-6.8-4.5c-2.1-1-1.7-3.5-1.5-7c0.3-3.5,0.3-2.5,0.6-4.3c0.4-1.7,3.1-10.1,4.2-11.9c1-1.7,6.3-2.1,10-1.1  s2.9,0.4,6.4,0.8c3.5,0.4,3.5,5,4.5,6.2c0.1,0.1,0.1,0.2,0.3,0.2l-0.1,0.3c0,0-0.6,3.6-0.4,4.5c0.2,0.9,4.2,3.9,4.5,5.1  c0.4,1.1,2.8,5.4,4.3,7.7c1.5,2.3,6.4,7.2,8.3,8.7c1.9,1.5,10.9,5.6,15.2,6.6c4.3,1,8.8,1.7,12.2,3.2c3.4,1.5,5.2,2.8,8.6,4.2  c3.4,1.3,4.5,1.5,6.6,2.6c2,1.1,4.7,2.4,5.8,2.2c1.1-0.2,3.2-1.7,4.3-3.2c1.1-1.5,3.9-5.1,5.4-5.1c1.5,0,7,2.4,8.1,1.1  c1.1-1.3,0.6-3,1.9-4.1c1.3-1.1,1.5-1.1,1.7-4.3c0.2-3.2,0.4-4.9,3.4-4c3,1,7.7-0.5,7.7-2c0-1.5,1.5-3.8,1.5-5.3s-0.2-3.4,1.7-5.1  c1.7-1.5,3.8-6.4,4.2-7.3c0.3,0.2,0.7,0.3,1,0.3c2,0,12,0.5,14.5,1.2c2.5,0.8,7.3,1.5,10,1.5c2.3,0,8-0.5,9.9,0.8  c0.4,0.2,0.6,0.6,0.6,1c0.2,2.5,1.2,6,2,8c0.8,2,5.8,7.8,10.5,8.5c4.8,0.8,15.8,0.8,19.1,0.8C471,604.6,474.9,605.6,476.3,606z" />
<g id="SAR" class="grp-path" data-info="<div class='bld'>SARIKEI</div><div>0.00 SPI</div><div>0.00 PAI</div>">
<path d="m310.3 489.7c3 0.4 6 2.3 8.2 3.4 2.1 1.1 5.5 3.4 5.9 1.9s0.6-4.5 1.5-4.9 2.9-0.4 3.4-1.9 1.6-4.4 3.3-4c1.6 0.4 4.8 0.9 4.3-0.1s-1.8-3.8-4-3.4c-2.3 0.4-5.3 1.5-5.1-0.6 0.1-1.3 0.4-2.8 0.1-4.2 0 0-5.7 3.6-7.2 4.5-1.5 1-3.2 1.9-3.2 1.9l-0.2-0.1c-0.1 0.1-0.1 0.2-0.3 0.4-1.1 1.1-3.8 1.7-5 1.1-1.2-0.5-2.6-1.8-3-2.8s-1.6-3.8-3-2.7c-1.4 1-2.1 3.7-4.4 4.9-2.3 1.1-4 2.5-4.8 4.2-0.8 1.6 1.8 4.4 3.9 4.4 2-0.2 6.6-2.4 9.6-2z" />
<path d="m464 553.5c-1.7-0.6-6.2-1.3-7.9-1.3s-3.6-1.9-4.9-3.6-3.2-2.6-5.3-3.2-3.4-4.1-3-5.8 2.4-3.4 2.3-6.4c-0.2-3-4-3.6-6.2-5.3-2.3-1.7-1.7-3-4.2-4.3-2.4-1.3-3-1.5-3-6.2s1.1-8.1 1.1-11.1-0.6-4.3-1.7-4.7-15.2 0.8-17.3 0.9c-2 0.2-1.9 0.8-3.8 1.5-1.9 0.8-3.6 0.6-5.3 0s-3.4-0.8-3.9-3.4c-0.6-2.6-0.9-9-0.9-11.3 0-2.2-2.1-4.7-3.4-5.4-1.3-0.8-2.8-2.4-3.8-3.8-0.9-1.3-6.4-5.1-8.3-6.9-1.9-1.9-0.8-3.2-0.8-4.7s-3.8-0.2-5.4 0.9c-1.7 1.1-4.9 0.6-6.8 0s-4.2-5.7-4.2-7.2 2.5-4.7 3.2-5.6c0.2-0.3 0.4-1 0.5-1.9h-0.1s-3.6-0.9-5.6 0.4c-2.1 1.3-3.4 3-6.2 3.2s-4.3-0.2-5.3 1.3c-0.9 1.5-0.7 5.3-5.1 4.7-4.3-0.6-5.8-2.1-7.7 0s-9.4 9.6-9.4 9.6l-2.4 0.5c0.1 0.3 0.2 0.6 0.2 1 0 1.4-0.5 3 1.4 3.1s2.5-0.6 4.4 0.5 3.6 5.3 3.2 6c-0.4 0.8-1.4 1.5-2.8 1.5s-3.6-0.4-4.1 0.6 0.9 2.3 1.7 2.6c0.9 0.4 2 2.5 0.4 2.3s-4.5-2-5.5-0.2c-1 1.7-1.1 5.7-2.7 5.9-1.6 0.1-4 1.1-5.3 0.1s-5.7-3.6-7.2-3.6-2.6 0.6-3.9 2-3.8 3.1-4.9 5.1c-0.2 0.4-0.6 1.1-1 2.2l2.7 3.5s3 3 5.8 2.8c2.7-0.3 4.8-0.5 6 1s4.8 2 7 3 15 3 15.3 4.8 1 2.8 2 4.3 2.8 7.8 4.8 7.8 8.3 2.5 8.3 4-2 7.3 0.5 8.8 18.6 12.8 18.8 15.6-1 9.3 1.3 12c2.3 2.8 7 5 9.3 3.8 2.3-1.3 7.3-5 7.5-2.8 0.2 2.3-0.5 4.8 2 5.5 2.1 0.6 4.2 3.9 6 4.9 0.3 0.2 0.7 0.3 1 0.3 2 0 12 0.5 14.5 1.2 2.5 0.8 7.3 1.5 10 1.5 2.3 0 8-0.5 9.9 0.8l0.1-0.1c3 0.2 6-0.9 7.3-1.7s2.4-5.1 2.6-6.4 5.7-1.3 6.8-2.2c1.1-1 3.6 0 6-0.2 2.5-0.2 3.2 0 5.5-3.8 0.8-1.4 0.9-5.4 0.9-7.9v-1.7c0-1.7 2.3-3.2 2.6-4.2 0.9-0.8-1.9-4-3.6-4.6z" />
</g>
<path id="BET" class="path" data-info="<div class='bld'>BETONG</div><div>0.00 SPI</div><div>0.00 PAI</div>" d="M400.7,582.5c-0.4,1-2.6,5.8-4.2,7.3c-1.9,1.7-1.7,3.6-1.7,5.1s-1.5,3.8-1.5,5.3c0,1.5-4.7,3-7.7,2  c-3-0.9-3.2,0.8-3.4,4c-0.2,3.2-0.4,3.2-1.7,4.3c-1.3,1.1-0.8,2.8-1.9,4.1c-1.1,1.3-6.6-1.1-8.1-1.1c-1.5,0-4.3,3.5-5.4,5.1  c-1.1,1.5-3.2,3-4.3,3.2c-1.1,0.2-3.8-1.1-5.8-2.2c-2.1-1.1-3.2-1.3-6.6-2.6c-3.4-1.3-5.3-2.6-8.6-4.2c-3.4-1.5-7.9-2.2-12.2-3.2  c-4.3-0.9-13.3-5.1-15.2-6.6c-1.9-1.5-6.8-6.4-8.3-8.7c-1.5-2.3-3.9-6.6-4.3-7.7c-0.4-1.1-4.3-4.2-4.5-5.1c-0.2-0.9,0.4-4.5,0.4-4.5  l0.1-0.3c1.4,1,5.1,0.9,6.4,0.3c1.4-0.6,2.6-1,4-0.1c1.4,0.9-0.1-2-2.3-3c-2.1-1-3.5,0-5.7,0.2c-2.1,0.3-2.5-3.2-2.9-5.7  c-0.4-2.5-2.1-2.4-4-2.6c-1.9-0.2-2.9-5.3-5.1-8.2c-2.3-2.9,0-4.4,0.9-5.5c0.9-1.1,0.9-4.2,1-8.7c0.1-4.5,5.6-11,7.4-13.7  c1.8-2.6,2.9-8,3-10.8c0.1-2.3,3.3-11.1,5.2-15.4l2.7,3.5c0,0,3,3,5.8,2.8c2.7-0.3,4.8-0.5,6,1c1.2,1.5,4.8,2,7,3s15,3,15.3,4.8  c0.3,1.8,1,2.8,2,4.3c1,1.5,2.8,7.8,4.8,7.8c2,0,8.3,2.5,8.3,4c0,1.5-2,7.3,0.5,8.8c2.5,1.5,18.6,12.8,18.8,15.6  c0.2,2.8-1,9.3,1.3,12c2.3,2.8,7,5,9.3,3.8c2.3-1.3,7.3-5,7.5-2.8c0.2,2.3-0.5,4.8,2,5.5C396.8,578.2,398.9,581.4,400.7,582.5z" />
<g id="MUK" class="grp-path" data-info="<div class='bld'>MUKAH</div><div>0.00 SPI</div><div>0.00 PAI</div>">
<path d="m558 360.8c0.8-1.7-0.2-13-0.4-14.3s-0.4-5.1-1.3-5.8c-0.8-0.7-2.5-2.2-2.9-2.6-5.4 1.5-9.6 2.9-10.7 3.3-2.7 1-6.6 4-9.5 4s-7.2 0.6-9.5 1.3c-2.4 0.6-36.1 7.6-52.1 11.6-16.1 4-33.5 9.3-48 10.4s-22.8 2.9-26.6 3.6c-3.8 0.8-11.2 4.6-14.7 3.5s-4.3-2.4-6.1-1.5c-1.9 0.9-2.6 3.9-4 5.6s-3.3 3.3-4.9 4.3-12.2 4.6-14.8 6.9-3.5 4.5-5.4 5.4-5.3 2.3-6.1 4.8c-0.9 2.5-3.8 17.2-4.3 20s-2.4 4.1 0.3 5.8c2.6 1.6 5.7 5.4 7.5 5.9 1.7 0.5 4 0.8 5.4 0.4s2 1.4 1.3 1.9c-0.8 0.5-3 1.9-5.4 1s-4.2-1.6-5.5-1.8c-1.3-0.1-3.4-1.7-2.6 1.3s1.4 3 1.4 5 0.8 3.6 1.3 4.8c0.5 1.1 5.1 5.4 7.2 6.7 1.8 1.1 2.6 3.3 1.4 3.3-0.1 0-0.3 0-0.5-0.1-1.9-0.6-4.6-2.5-6.1-1.5s-3.2 2-4.5 1.9c-1.4-0.1-3.3-0.8-4 0.5-0.8 1.3-3.3 3.4-4.8 2.4s-3.3-4.8-4.2-4.3-1.4 1-1.4 2.4 0.6 2-0.5 4.1-2.1 4.3-1.6 4.9 5 4.8 6 6.1c0.8 1.1 1.8 1.8 2.3 2.7l2.4-0.5s7.5-7.5 9.4-9.6 3.4-0.6 7.7 0 4.1-3.2 5.1-4.7 2.5-1.1 5.3-1.3 4.1-1.9 6.2-3.2c2-1.3 5.6-0.4 5.6-0.4h0.1c0.3-2.3 0.2-6.1 0.1-7.3-0.2-1.7-1.5-3.9-2.3-5.3-0.7-1.3 0.2-17.3 0.4-19s4.5-2.8 6.6-3.2c2-0.4 4.7-3.5 5.4-4.7 0.8-1.1 3-2.6 3.6-2.6 0 0 7 0.8 9.6 1.1 2.6 0.4 17.7 0.6 19.2 0.6s6.4 2.8 7.3 3.6c0.9 0.7 5.3 3.4 6.2 4.3s8.1 1.9 11.9 1.9 8.3 1.1 10.7 1.9 10.2 5.3 12 6.6c1.9 1.3 12 0.6 15 0.4s6.2-1.5 8.1-3.2 4.3-6.6 4.5-8.8c0.2-2.3 0.9-6.6 1.7-7.9s9.2-5.4 12.8-6.9 8.1-3.2 9.8-4.5 5.3-7 5.6-8.3c0.4-1.3 2.8-3.8 5.1-5.8s3.6-6.9 4.9-8.5c1.3-1.5 7-3.8 8.6-4.3 1.7-0.6 3.9-0.9 5.8-1.5 1.7-0.5 8.6-0.1 9.9 0-1.3-2-0.3-4.7-0.1-5.6 0-1.6 3.4-5.5 4.1-7.2z" />
<path d="m321.1 424.3c0.5 3.8 1.2 5.5 0.5 7.9-0.8 2.4-0.6 5.1-0.9 7.5-0.2 2.4 0.6 5.7 1.8 6 1.1 0.4 3.6 1.5 4 3.2 0.4 1.6 0.1 3.4 0.6 4.5s2 3.3 3.1 2.4 2.8-2.6 4.3-2.6 4.2-0.8 4.4-1.4c0.1-0.6-1.1-1.6-1.5-3.9s0-6-0.9-8.5-2.5-4.5-3-7.3c-0.5-2.7 0-9.3-0.6-16.3s-0.2-16.1 0-16.7c0.7-1.7 1.8-2.4 0.5-5.6-1.3-3.3-5.5-12-7.9-11.2-2.4 0.9-7.4 6.9-8.3 11.6-0.9 4.6-0.4 13 0.4 16.7 0.8 3.6 3 10 3.5 13.7z" />
<path d="m326 473.5c-2.5-1.7-4.5-2.6-4.5-2.6-1.7-0.9-4.6-1.5-4.6-0.5s0 3.9 0.4 6.1c0.3 2 0.7 4.4-0.1 5.7l0.2 0.1s1.7-0.9 3.2-1.9c1.5-0.9 7.2-4.5 7.2-4.5-0.3-0.9-0.8-1.7-1.8-2.4z" />
<path d="m315.5 467.7c1.3-1.4 2.8-0.3 3.5-3.6 0.8-3.4 2.6-2.8 2.1-5.5-0.5-2.8-0.8-3.3 0.6-4.9s3.9-2.4 1.6-3.9-6.9-1.6-9.5-3.6c-1.1-0.8-3-2.1-4.1-1.7s-3.3 1.5-4.8 3.3c-1.5 1.7-3.6 5.6-3.6 7.1s0.3 7.4 0.3 9.8v6.3c0 1.4-1.6 4.2 0.4 4s4.2-0.2 5.7 0.6c1.5 0.9 2.6 2 2.9 3 0.2 1 2.1 3.9 3.3 3.5 1.1-0.4 2-0.6 2-2s-0.4-3.8-0.5-5.3c-0.3-1.6-1.2-5.7 0.1-7.1z" />
</g>
<path id="SAM" class="path" data-info="<div class='bld'>SAMARAHAN</div><div>0.00 SPI</div><div>0.00 PAI</div>" d="M290.8,617.8l-0.2,0.6c0,0,0,4,0,5.3c0,1.3,0.5,3.5-1.2,6.3c-1.8,2.8-3.5,5.5-3.8,7.8c-0.3,2.3-1.5,5.5-4.5,6.5  c-3,1-9.5,1.3-11.8,1.3s-6.8,0.8-7,4.3c-0.3,3.5,3.8,3.8,3.8,7.3c0,3.5,0,6.5,1.5,7.5c1.5,1,1.7,3.3,2,5c0.2,1.6,0.3,6.4,0.3,7.3  c-4.2,0.6-9.5,0.8-11.4,0.8c-2.1,0-4.5,0.8-5.9,3.2c-0.5-0.8-3.3-5.1-5.2-7.5c-2.2-2.6-11.5-11.9-20.8-16.3  c-9.3-4.4-23.6-12.5-29.8-17.4c-6.3-4.9-13.9-12.6-13.9-12.6l-2.7,0.8h0c0.1-2.5-3.4-3.3-5.7-6.4c-2.6-3.6-2.6-2.3-4.3-5.4  c-1.7-3.2-2.4-0.8-4.3-0.8c-1.9,0-3.2-2.3-5.3-5.3c-2.1-3-3-0.8-2.6-2.4c0.4-1.7,4.1-2.8,6-3.8c1.9-0.9,2.4-4.7,4.5-6.7  c2-2.1,11.5-0.6,12.8-0.8c1.3-0.2,7.1-0.7,7.7-1.5c0.6-0.7,1.7-3.9,2.1-5.1c0.4-1.1,1.3-3.6,1.3-3.6v-0.2c0.3,0.1,0.6,0,1-0.3  c1.7-1.7,3-2.5,4.8-2.7c1.7-0.3,6-1,7.4,0c1.4,1,7.5,4.9,9.4,5.9c1.9,1,4.5,1.9,6.7,1.9c2.1,0,3.6-0.5,3.9,1  c0.3,1.5,1.1,3.9,0.6,6.5c-0.5,2.6-1.7,3.9-2.9,4.6c-1.1,0.8-6.8,2.8-4.5,3.4c2.3,0.6,4.9,0,6.8-1.1c1.9-1.1,4.5-4.6,5-6.4  c0.5-1.8,0.4-9.4,1.1-10.4c0.8-1,2.6-4.3,5.1-2.3c2.5,2,8.3,6.3,10.5,6.6c2.3,0.4,8,1,10.1,1.6c2,0.6,8.6,2.9,11.3,6.9  c2.6,4,8.5,11.5,10.8,13.5c1.6,1.4,6.9,2.5,9.9,2.8C289.8,617.5,290.3,617.6,290.8,617.8z" />
<path id="SER" class="path" data-info="<div class='bld'>SERIAN</div><div>0.00 SPI</div><div>0.00 PAI</div>" d="M252.6,680.8c-0.1,0.2-0.2,0.4-0.3,0.6c-1.3,2.8-2.4,5.4-3.9,6.8c-1.5,1.3-6.2,2.3-8.5,2.4  c-2.3,0.2-1.9,3.6-1.7,6.2c0.2,2.7-2,1.3-6-1.5c-3.9-2.8-2.8,1.7-3.6,2.3c-0.8,0.6-3.8,1.1-4.9,1.1c-1.1,0-4.7,2.4-7,3.6  c-2.3,1.1-5.1-2.1-6.2-3.4c-1.1-1.3-2.1,1.3-3.2,3c-1.1,1.7-3.4,1.7-4.7,1.9c-1.3,0.2-3,1.9-4.9,2.8c-1.9,0.9-18.6-6.2-20.3-8.8  c-1.7-2.6-0.8-3.8-1.1-5.3c-0.4-1.5-2.8-1.9-4.3-2.8c-1.5-0.9-1.5-3.6-1.5-4.3s-3.6-2.1-5.2-1.7c-1.7,0.4-3.6,0-6.4-0.9  c-2.8-1-10-0.6-10-0.6s0.8-5.8,0.8-7.5c0-0.3-0.1-0.5-0.2-0.8c0.6-0.1,1.8-0.5,2.5-0.9c0.9-0.5,3.8-3.9,6.2-6.2  c2.4-2.3,5.8-3.8,7.5-4.5c1.7-0.8,5.1-5.1,5.3-7.3c0.2-2.2,0.4-2.8,2.4-6.2c2.1-3.4,1.5-3.9,1.9-6.6c0.4-2.6,3.2-3.2,3.2-6.8  c0-3.5,0.2-3,1.5-6.4c0.1-0.4,0.2-0.8,0.2-1.1h0l2.7-0.8c0,0,7.7,7.7,13.9,12.6c6.2,4.9,20.5,13,29.8,17.4  c9.3,4.4,18.7,13.8,20.8,16.3C249.3,675.7,252.1,680.1,252.6,680.8z" />
<path id="KUC" class="path" data-info="<div class='bld'>KUCHING</div><div>0.00 SPI</div><div>0.00 PAI</div>" d="M192.3,585.9v0.2c0,0-1,2.4-1.3,3.6c-0.4,1.1-1.5,4.3-2.1,5.1c-0.6,0.8-6.4,1.3-7.7,1.5  c-1.3,0.2-10.7-1.3-12.8,0.8c-2.1,2-2.6,5.8-4.5,6.7c-1.9,1-5.7,2.1-6,3.8c-0.4,1.7,0.5-0.6,2.6,2.4c2.1,3,3.4,5.3,5.3,5.3  c1.9,0,2.6-2.5,4.3,0.8c1.7,3.2,1.7,1.9,4.3,5.4c2.3,3.2,5.8,4,5.7,6.4c0,0.3-0.1,0.7-0.2,1.1c-1.3,3.4-1.5,2.8-1.5,6.4  c0,3.6-2.8,4.2-3.2,6.8c-0.4,2.6,0.2,3.2-1.9,6.6c-2,3.4-2.3,4-2.4,6.2c-0.2,2.3-3.6,6.6-5.3,7.3c-1.7,0.8-5.1,2.3-7.5,4.5  c-2.4,2.3-5.3,5.7-6.2,6.2c-0.7,0.4-1.9,0.8-2.5,0.9c-0.8-1.6-3.8-3.5-4.5-4.6c-0.7-1.3-2-4.2-2.4-5.8c-0.4-1.7-2.8-1.3-4.3-1.3  c-1.5,0-1-3.6-0.8-4.7c0.2-1.1-1.9-4.2-6-6.8c-4.1-2.7-6.6-1.7-10.5-1.7c-3.9,0-7.1-0.9-8.8-2c-1.7-1.1,0.8-3.2,1.7-4.3  c0.9-1.1-6.8-6.2-8.5-8.5c-1.7-2.3-4.7,0-6.8-3.9c-2.1-4-2.4-8.7-2.4-10.9s-1.7-4.7-3.4-5.8c-1.7-1.1-3.9-0.6-6.2-0.4  c-2.3,0.2-6.8,0.2-9.4-0.9c-2.6-1.1-2-7.7-1.5-9.2c0.6-1.5-1.3-0.8-4.5-0.2c-3.2,0.6-3-3-3.6-4.5c-0.6-1.5-9.4-8.6-11.9-11.5  c-2.5-2.8-5.8-6-7.7-7.2c-1.9-1.1-2.8-3.4-2.3-6.4c0.6-3,1.7-6,1.7-9.4c0-3.4,1.3-8.3,2.4-10.7c1.1-2.4-5.3-3.9-9.4-4.9  c-4.2-0.9-6.2-4.3-6.6-6c-0.4-1.7-2.8-2.6-3.9-2.8c-1.1-0.2-3.6-6.2-3.6-9.6c0-3.4,3.2-2.4,5.3-2.6c2-0.2,3.2-6.2,4.1-7.9  c0.9-1.7,3.9-3,5.7-3.9c1.7-0.9,0.4-5.1,0.4-7c0-1.9,1.5-6.4,1.5-6.4l0,0c0.4-0.4,0.7-0.5,0.7,0.1c0,2.3-1.1,3.3,0,4.6  c1.1,1.4,1.5,3,1.4,4.7c-0.1,1.6-0.8,1.9,0.1,3.7c0.9,1.9,1.5,2.9,1,3.9c-0.5,1-0.6,3.3-1.2,5.7c-0.6,2.5-0.2,5.4,1.4,7  c1.6,1.6,3.5,1.7,3.5,3.5c0,1.8,0.5,3.8,2.3,5c1.8,1.3,11.3,4.4,13.2,5.8c1.9,1.4,3.4,2.3,5.5,3.3c2.1,1,6.9,1.4,6.9,2.1  s0.3,1.6,1.1,2.4c0.9,0.8,3.4,2.6,3.4,2.6c2.1,1.1-0.2,3-1,4.5c-0.8,1.5,3,1.5,5.4,2.1c2.4,0.6,0.9,2.3,0.9,3.4  c0,1.1,2.3,1.5,4.9,1.7c2.6,0.3,2.1-1.2,3.2-2.4c1.1-1.1,1.7,0.2,3.6,2.4c1.9,2.1,2.5-0.9,3.4-1.6c0.9-0.8,2.4-0.8,4.5-1  c2.1-0.3,8.4-0.4,9.9-0.4s3.1,0.6,5,0.6c1.9,0,4.9-0.1,7.3-0.4c1.4-0.1,5.9-1.8,5.9-0.6c0,1.1-0.4,5.1,1.9,3c2.3-2.1,2-3.6,4-3.9  c2-0.3,10.4-1.3,9.9,0.5c-0.5,1.7-1.1,2.6-0.9,3.8c0.2,1.1,3.5,3.6,3.1,2.3c-0.4-1.4-2-2.6-0.4-3.6c1.6-1,2.9-1.2,2.8-3.3  c-0.1-2-2-4.6-1.3-5.4c0.8-0.8,1.5-2.8,1.9-3.6c0.4-0.9,3-7.4,3.4-4.9c0.4,2.5,3.9,7.3,3.8,8.9c-0.1,1.6-0.2,2.9,0.5,5  c0.8,2.1,1.1,3.9,2.4,4c1.3,0.1,6,0.3,7.9-0.4c2.3-0.8,3.4-5.7,3.6-6.8c0.3-1.1,4,0,6,1c2,1,2-2,2.6-3.2c0.6-1.3,1.1-0.2,2.5,2.1  c1.4,2.4-1.2,3.5-2.9,4.6c-1.6,1.1-2.1,4.1-2.5,5.9c-0.4,1.7-1.7,3.8-1.7,3.8c-1.4,1-4.3,3.9-2.1,3.6c2.1-0.2,4.6-0.7,5.9-0.7  c1.2,0,3.2,0.9,3.9,2.9C190.1,581.9,191,585.4,192.3,585.9z" />
</svg>

                    <!--End Map Bindding-->
                    @*<img src="~/assets/media/MIRI-Division-SPI_New.png" class="img-responsive" style="width:100%" />*@
                </div>
                <div class="col-md-3 p-0 m-0">
                    <div class="row">
                        <div class="col-12">

                            <ul class="nav nav-tabs month-li w-100" role="tablist">
                                <li class="nav-item text-center">
                                    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" style="font-size:x-small">RMU MIRI <span id="miriYear">@year</span></a>
                                </li>
                                <li class="nav-item  text-center">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" style="font-size:x-small">RMU BATU NIAH <span id="miriYear">@year</span></a>
                                </li>

                            </ul><!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane container-fluid active" id="tabs-1" role="tabpanel">
                                    <div class="row">
                                        <div class="col-12 p-0">
                                            <div class="table-responsive">
                                                <table style="font-size: x-small; text-transform:uppercase" class=" table-striped table tblMonth">
                                                    <thead style="background-color: #c8e1ff">
                                                        @*<tr style="background-color:#4472c4;color:#ffffff">
                                                                <th colspan="3"><b>RMU MIRI <span id="miriYear">@year</span> </b> </th>
                                                            </tr>*@
                                                        <tr>
                                                            <th>MONTH</th>
                                                            <th>PAI</th>
                                                            <th>SPI</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="font-weight-bold">
                                                        </tr>
                                                        @if (rMSPPLPData.Any() && rMSPPLPData.Count(a => a.SpiDivCode.ToUpper() == "MIRI") != 0)
                                                        {
                                                            foreach (var item in rMSPPLPData.Where(a => a.SpiDivCode.ToUpper() == "MIRI"))
                                                            {
                                            <tr>
                                                <td class="font-weight-bold">@RAMMS.Common.Utility.GetMonthShortNameByNumber(item.SpiMonth)</td>
                                                <td> @string.Format(new System.Globalization.CultureInfo("en-US", false), "{0:n}", Convert.ToDecimal(item.SpiPai))</td>
                                                <td>@string.Format(new System.Globalization.CultureInfo("en-US", false), "{0:n}", Convert.ToDecimal(item.SpiSpi))</td>
                                            </tr>
 }
                                    }
                                    else
                                    {

                        <tr>
                            <td class="font-weight-bold">JAN</td>
                            <td></td>
                            <td></td>
                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">FEB</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                                        <tr>
                                                            <td class="font-weight-bold">MAC</td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                                        <tr>
                                                                            <td class="font-weight-bold">APR</td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="font-weight-bold">MAY</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td class="font-weight-bold">JUN</td>
                                                                                                            <td></td>
                                                                                                            <td></td>
                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <td class="font-weight-bold">JUL</td>
                                                                                                                            <td></td>
                                                                                                                            <td></td>
                                                                                                                        </tr>
                                                                                                                                        <tr>
                                                                                                                                            <td class="font-weight-bold">AUG</td>
                                                                                                                                            <td></td>
                                                                                                                                            <td></td>
                                                                                                                                        </tr>
                                                                                                                                                        <tr>
                                                                                                                                                            <td class="font-weight-bold">SEP</td>
                                                                                                                                                            <td></td>
                                                                                                                                                            <td></td>
                                                                                                                                                        </tr>
                                                                                                                                                                        <tr>
                                                                                                                                                                            <td class="font-weight-bold">OCT</td>
                                                                                                                                                                            <td></td>
                                                                                                                                                                            <td></td>
                                                                                                                                                                        </tr>
                                                                                                                                                                                        <tr>
                                                                                                                                                                                            <td class="font-weight-bold">NOV</td>
                                                                                                                                                                                            <td></td>
                                                                                                                                                                                            <td></td>
                                                                                                                                                                                        </tr>
                                                                                                                                                                                                        <tr>
                                                                                                                                                                                                            <td class="font-weight-bold">DEC</td>
                                                                                                                                                                                                            <td></td>
                                                                                                                                                                                                            <td></td>
                                                                                                                                                                                                        </tr>}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane container-fluid" id="tabs-2" role="tabpanel">
                                    <div class="row">
                                        <div class="col-12 p-0">
                                            <div class="table-responsive">
                                                <table style="font-size: x-small; text-transform:uppercase" class="table-striped table tblMonth">
                                                    <thead style="background-color: #c8e1ff">

                                                        @*<tr style="background-color:#4472c4;color:#ffffff"><td colspan="3"><b>RMU BATU NIAH <span id="batuYear">@year</span></b></td></tr>*@
                                                        <tr class="font-weight-bold">
                                                            <td>MONTH</td>
                                                            <td>PAI</td>
                                                            <td>SPI</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @if (rMSPPLPData.Any() && rMSPPLPData.Count(a => a.SpiDivCode.ToUpper() == "BTN") != 0)
                                                        {
                                                            foreach (var item in rMSPPLPData.Where(a => a.SpiDivCode.ToUpper() == "BTN"))
                                                            {
                                            <tr>
                                                <td class="font-weight-bold">@RAMMS.Common.Utility.GetMonthShortNameByNumber(item.SpiMonth)</td>
                                                <td>@item.SpiPai</td>
                                                <td>@item.SpiSpi</td>
                                            </tr>
 }
                                    }
                                    else
                                    {
                        <tr>
                            <td class="font-weight-bold">JAN</td>
                            <td></td>
                            <td></td>
                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">FEB</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                                        <tr>
                                                            <td class="font-weight-bold">MAC</td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                                        <tr>
                                                                            <td class="font-weight-bold">APR</td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="font-weight-bold">MAY</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td class="font-weight-bold">JUN</td>
                                                                                                            <td></td>
                                                                                                            <td></td>
                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <td class="font-weight-bold">JUL</td>
                                                                                                                            <td></td>
                                                                                                                            <td></td>
                                                                                                                        </tr>
                                                                                                                                        <tr>
                                                                                                                                            <td class="font-weight-bold">AUG</td>
                                                                                                                                            <td></td>
                                                                                                                                            <td></td>
                                                                                                                                        </tr>
                                                                                                                                                        <tr>
                                                                                                                                                            <td class="font-weight-bold">SEP</td>
                                                                                                                                                            <td></td>
                                                                                                                                                            <td></td>
                                                                                                                                                        </tr>
                                                                                                                                                                        <tr>
                                                                                                                                                                            <td class="font-weight-bold">OCT</td>
                                                                                                                                                                            <td></td>
                                                                                                                                                                            <td></td>
                                                                                                                                                                        </tr>
                                                                                                                                                                                        <tr>
                                                                                                                                                                                            <td class="font-weight-bold">NOV</td>
                                                                                                                                                                                            <td></td>
                                                                                                                                                                                            <td></td>
                                                                                                                                                                                        </tr>
                                                                                                                                                                                                        <tr>
                                                                                                                                                                                                            <td class="font-weight-bold">DEC</td>
                                                                                                                                                                                                            <td></td>
                                                                                                                                                                                                            <td></td>
                                                                                                                                                                                                        </tr>
}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="table-responsive">
                <table style="font-size: x-small; text-transform:uppercase" class="table text-left">
                    <thead style="background-color: #c8e1ff">
                        <tr style="background-color:#4472c4;color:#ffffff" class="text-center">
                            <th colspan="13"><b> MIRI DIVISION YEAR <span id="miriDivYear">@year</span> </b></th>
                        </tr>
                        <tr class="font-weight-bold">
                            <th>MONTH</th>
                            <th>JAN</th>
                            <th>FEB</th>
                            <th>MAC</th>
                            <th>APR</th>
                            <th>MAY</th>
                            <th>JUN</th>
                            <th>JULY</th>
                            <th>AUG</th>
                            <th>SEP</th>
                            <th>OCT</th>
                            <th>NOV</th>
                            <th>DEC</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="font-weight-bold">PAI</td>
                            @if (rMSPPLPData.Any() && rMSPPLPData.Count(a => a.SpiDivCode.ToUpper() == "MIRI" || a.SpiDivCode.ToUpper() == "BTN") != 0)
                            {
                                foreach (var item in rMSPPLPData.Where(a => a.SpiDivCode.ToUpper() == "MIRI" || a.SpiDivCode.ToUpper() == "BTN").OrderBy(a => a.SpiMonth).GroupBy(a => a.SpiMonth).Select(a => a.Key))
                                {
                                    if (item.Value != 0)
                                    {
                                        //decimal val = item.SpiCPlan.Value;
                                        decimal pai = rMSPPLPData.Where(a => a.SpiMonth.Value == item.Value).Sum(a => a.SpiPai.Value);// val > 0 ? item.SpiCActual.Value / val : 0;
                <td>@string.Format(new System.Globalization.CultureInfo("en-US", false), "{0:n}", Convert.ToDecimal(pai))</td>
 }
            else
            {
<td></td>
}
}
}
                        </tr>
                        <tr>
                            <td class="font-weight-bold">SPI</td>
                            @if (rMSPPLPData.Any() && rMSPPLPData.Count() != 0)
                            {
                                foreach (var item in rMSPPLPData.OrderBy(a => a.SpiMonth).GroupBy(a => a.SpiMonth).Select(a => a.Key))
                                {
                                    if (item.Value != 0)
                                    {
                                        //decimal val = item.SpiCPlan.Value;
                                        decimal pai = rMSPPLPData.Where(a => a.SpiMonth.Value == item.Value).Sum(a => a.SpiSpi.Value);// val > 0 ? item.SpiCActual.Value / val : 0;
                <td>@string.Format(new System.Globalization.CultureInfo("en-US", false), "{0:n}", Convert.ToDecimal(pai))</td>
 }
            else
            {
<td></td>
}
}
}
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--SPI JS-->

<script>
    if ('@isSPIUpdate' == 'False') {
        const spllabels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'December'
        ];

        const SPIdata = {
            labels: spllabels,
            datasets: [{
                type: 'bar',
                label: 'Monthly Planned',
                data: [@ViewBag.SpplpMPlanned],
                borderColor: 'rgb(255, 99, 132)',
                backgroundColor: 'rgba(68, 114, 196, 1)'
            },
            {
                type: 'bar',
                label: 'Monthly Actual',
                data: [@ViewBag.SpplpMActual],
                borderColor: 'rgb(255, 99, 132)',
                backgroundColor: 'rgba(247, 113, 84, 1)'
            }, {
                type: 'line',
                label: 'Cul. Plan',
                data: [@ViewBag.SpplpCPlan],
                fill: false,
                borderColor: 'rgba(22, 73, 18, 1)'
            },
            {
                type: 'line',
                label: 'Cul. Actual',
                data: [@ViewBag.SpplpCActual],
                fill: false,
                borderColor: 'rgba(238, 148, 18, 1)'
            },
            {
                type: 'bar',
                label: 'Planned %',
                data: [@ViewBag.SpplpPlannedPer],
                borderColor: 'rgb(255, 99, 132)',
                backgroundColor: 'rgba(0, 107, 180, 1)'
            }, {
                type: 'bar',
                label: 'Actual %',
                data: [@ViewBag.Actual],
                borderColor: 'rgb(200, 86, 1)',
                backgroundColor: 'rgba(0, 212, 86, 1)'
            }]
        };

        const config = {
            type: 'line',
            data: SPIdata,
            options: {}
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    }
</script>

<script>
    $(document).ready(function () {

        if ('@isSPIUpdate' == 'True') {
            const spllabels1 = [
                'January',
                'February',
                'March',
                'April',
                'May',
                'June',
                'July',
                'August',
                'September',
                'October',
                'November',
                'December'
            ];

            const SPIdata1 = {
                labels: spllabels1,
                datasets: [{
                    type: 'bar',
                    label: 'Monthly Planned',
                    data: [@ViewBag.SpplpMPlanned],
                    borderColor: 'rgb(255, 99, 132)',
                    backgroundColor: 'rgba(68, 114, 196, 1)'
                },
                {
                    type: 'bar',
                    label: 'Monthly Actual',
                    data: [@ViewBag.SpplpMActual],
                    borderColor: 'rgb(255, 99, 132)',
                    backgroundColor: 'rgba(247, 113, 84, 1)'
                }, {
                    type: 'line',
                    label: 'Cut Plan',
                    data: [@ViewBag.SpplpCPlan],
                    fill: false,
                    borderColor: 'rgba(22, 73, 18, 1)'
                },
                {
                    type: 'line',
                    label: 'Cut Actual',
                    data: [@ViewBag.SpplpCActual],
                    fill: false,
                    borderColor: 'rgba(238, 148, 18, 1)'
                },
                {
                    type: 'bar',
                    label: 'Planned %',
                    data: [@ViewBag.SpplpPlannedPer],
                    borderColor: 'rgb(255, 99, 132)',
                    backgroundColor: 'rgba(0, 107, 180, 1)'
                }, {
                    type: 'bar',
                    label: 'Actual %',
                    data: [@ViewBag.Actual],
                    borderColor: 'rgb(200, 86, 1)',
                    backgroundColor: 'rgba(0, 212, 86, 1)'
                }]
            };

            const SPIconfig1 = {
                type: 'line',
                data: SPIdata1,
                options: {}
            };

            const myChart = new Chart(
                document.getElementById('myChart'),
                SPIconfig1
            );
        }
    });
</script>
<!--END SPI Js-->
