@*@{
    ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
*@
@model RAMMS.Web.UI.Models.FormAModel;
@{
    ViewBag.TabTitle = "Road Asset Management and Maintenance System";
    ViewData["Title"] = "Road Asset Management and Maintenance System";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";


}

<link href="~/css/style_Map.css" rel="stylesheet" />

<div class="map-section pt-1">
    <div class="map-bg mt-3">
        <div class="sarawak-map">
            <div class="rmu-miri-niah">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 395.9 349" xml:space="preserve">
                <a xlink:href="@Url.Action("Section", "Home", new { rmu = "batuniah" })"><path id="SWK-NIAH" fill="#FFDE00" fill-opacity="0.6" stroke="#FFDE00" stroke-width="6" d="M86.7,252.6c3.5-2.5,6.5-5.7,10.2-7.9c8.2,1.2,16.3,3.5,24.7,4.1c5,1.4,10.3-0.1,15.3,1.5	c6-0.3,11.8,1.4,17.8,1.1c5.3,1.6,10.9,0.1,16.2,1.7c5-0.4,9.8,1,14.8,1c-9.4,25.3-19.4,50.5-28.9,75.8c-0.6,1.5-2.4,1.7-3.7,2.3	c-13,3.8-25.9,7.5-38.8,11.3c-32.4-9.5-64.6-19.3-97-28.7c-3.7-1.2-7.7-2-11.1-3.8l0-0.7c15.3-10,30.2-20.7,45.3-30.8	C63.3,270.6,74.8,261.3,86.7,252.6z" /></a>
                <a xlink:href="@Url.Action("Section", "Home", new { rmu = "miri" })"><path id="SWK-MIRI" fill="#FF0000" fill-opacity="0.6" stroke="#FF0000" stroke-width="6" d="M184.7,5.8c24.7,4.9,49.2,10.6,73.9,15.3c4.8,0.3,6.9,4.9,9.7,8.1c3,3.3,5,7.6,8.7,10.3	c2.6,0.5,5.3,0.1,7.7,1.4c2,0.9,3.8,2.3,6,2.7c1.7-0.1,3.3-0.6,4.9-0.9c3.7,5.2,6.4,11.1,9.6,16.6c4.2,7.5,8.6,14.8,12.9,22.2	c3.3,4-0.4,8.9-1.3,13.2c2.6,3,7,4.6,8.7,8.2c-1.6,9.4-3.7,18.7-5.6,28.1c-0.6,1.6,1,2.7,2.3,3.3c4.7,0.4,9.5-0.4,14.1,1.1	c3-3.9,8.1-3.1,12.4-2.9c4,0.8,7.3,3.5,11.1,5c3.4,1.6,7.5,2.2,10.3,4.9c1.6,3.5,1,7.7,2.8,11.2c4.1,8.3,8.4,16.5,12,25.1	c1.5,3.7,4.4,7,4.9,11c-6.6,34.4-12.2,68.9-19.4,103.2c-19.1-4.4-38-9.8-57.2-13.8c-25.3-6.2-50.5-12.6-75.7-19	c-6.8-2-13.8-2.9-20.8-3.3c-27.5-2.5-55.1-4.8-82.6-7.4c-3.9-0.9-8-0.2-12-1c-9.2-1.3-18.5-1.1-27.6-2.9c2.8-3.5,6.4-6.3,8.8-10.1	c6.9-7.8,13.6-15.7,20.6-23.4c6.4-9.9,10.7-21.3,18.9-30.1c11-15.3,23.4-29.5,33.9-45.1c4.9-6.7,10.2-13.3,12.7-21.2	c1.3-3.6,3.2-7,4.2-10.8c-0.5-2.7-1.9-5.2-2.4-8c0.3-2.8,1.1-5.7,2.3-8.2c3.2-4.1,7.4-7.5,10-12c0.5-11.9,1.1-24.4-4.2-35.5	c-3-5.8-4.1-12.5-7.9-18c-2.1-4.4-6.5-7.5-7.8-12.4C183.7,9,184.3,7.4,184.7,5.8z" /></a>
                </svg>
            </div>
        </div>
        @*href="@Url.Action("Index", "Map")"*@
        <div class="map-legend">
            @*<div class="legnd-miri">RMU Miri</div>
                <div class="legnd-niah">RMU Niah</div>*@
            <div class="legnd-miri">Miri</div>
            <div class="legnd-niah">Batu Niah</div>
        </div>
    </div>
</div>

<div class="landing-division p-3 pl-4 pr-4 mt-3">
    <form>
        <div class="row">
            <div class="form-group col-md-3 mb-md-1">
                <label>Division</label>
                <input type="text" class="form-control" value="Miri" disabled />
            </div>
            <div class="form-group col-md-3 mb-md-1">
                <label>RMU</label>
                @Html.ListBoxFor(m => m.SaveFormAModel.Rmu, (IEnumerable
                <SelectListItem>)ViewData["RMU"], new { @Id = "RMU", @class = "chosen-select", @multiple = "true" })
                @*<select id="rmu-dd" class="form-control custom-select" multiple onchange="RMUChange()">
                    <option selected value="Miri">Miri</option>
                    <option value="batuniah">Batu Niah</option>
                    </select>*@
            </div>
            <div class="form-group col-md-6 mb-md-1">
                <label>Section</label>
                @*<select id="section-dd" class="form-control">
                    </select>*@
                @Html.DropDownListFor(m => m.SaveFormAModel.section, (IEnumerable
                <SelectListItem>)ViewData["Section"], new { @Id = "section-dd", @class = "form-control" })
            </div>
        </div>
    </form>
</div>
@{
    var weekNo = System.Globalization.ISOWeek.GetWeekOfYear(DateTime.Today);
}
<div class="landing-card float-left w-100">
    <div class="w-100 font-weight-bold text-dark mt-4">In Week @weekNo</div>
    <div class="col-lg-6 mt-3 float-left p-0">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="activity-schedule">
                    <img src="~/assets/media/calendar.svg" />
                    <span class="activity-group">
                        <span class="activity-count font-bebas">0</span>
                        <span class="activity-content">Work Activities Scheduled</span>
                    </span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="activity-carried">
                    <img src="~/assets/media/clock.svg" />
                    <span class="activity-group">
                        <span class="activity-count font-bebas">0</span>
                        <span class="activity-content">Work Activities Carried Out</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mt-3 float-left p-0">
        <div class="row">
            <div class="col-lg-12 pl-lg-0">
                <div class="ld-nod">
                    <span class="ld-n-group">
                        <span class="ld-n-count font-bebas" id="closedNOD"></span>
                        <span class="ld-n-content">NOD Maintenance to be Closed</span>
                    </span>
                    <img src="~/assets/media/NOD.svg" />
                </div>
            </div>
            <div class="col-lg-6 pl-lg-0">
                <div class="ld-ncn">
                    <span class="ld-n-group">
                        <span class="ld-n-count font-bebas" id="closedNCN"></span>
                        <span class="ld-n-content">NCN to be Closed</span>
                    </span>
                    <img src="~/assets/media/NCN.svg" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ld-ncr">
                    <span class="ld-n-group">
                        <span class="ld-n-count font-bebas" id="closedNCR"></span>
                        <span class="ld-n-content">NCR to be Closed</span>
                    </span>
                    <img src="~/assets/media/NCR.svg" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="accordion" class="col-lg-12">
        <div class="accordion custom-accordion mb-3" id="custom-accordion-spi">
            <div class="card mb-0">
                <div class="card-header" id="headingSPI">
                    <h5 class="m-0">
                        <a class="custom-accordion-title py-1 collapsed" data-toggle="collapse" href="#AccordSPI" aria-expanded="false" aria-controls="collapseSPI">
                            <span class="float-left">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                            </span>
                            <span class="float-left" style="padding: 4px 8px;">
                                Service Provider Performance Indicator (SPI)
                            </span>
                        </a>
                    </h5>
                </div>
                <div id="AccordSPI" class="collapse  avowmodal-form formgrp-section" aria-labelledby="headingSPI" data-parent="#custom-accordion-spi">
                    <div class="container-fluid">
                        <div class="row mt-3">
                            <div class="col-md-10 text-right">
                            </div>
                            <div class="col-2 form-group">
                                @Html.DropDownListFor(m => m.SaveFormAModel.section, (IEnumerable
                             <SelectListItem>)ViewData["DLPSPLYear"], new { @Id = "ddlDLPSPIYear", @class = "form-control" })
                            </div>
                        </div>
                    </div>


                    @{

                        Html.RenderPartial("_SPIpartial.cshtml");
                    }
                </div>
            </div>
        </div>

        <div class="accordion custom-accordion mb-3" id="custom-accordion-iri-rmi">
            <div class="card mb-0">
                <div class="card-header" id="headingIRIRMI">
                    <h5 class="m-0">
                        <a class="custom-accordion-title py-1 collapsed" data-toggle="collapse" href="#AccordIRIRMI" aria-expanded="false" aria-controls="collapseIRIRMI">
                            <span class="float-left">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                            </span>
                            <span class="float-left" style="padding: 4px 8px;">
                                Overall International Roughness Index (IRI) and Road Maintenance Indicator (RMI)
                            </span>
                        </a>
                    </h5>
                </div>
                <div id="AccordIRIRMI" class="collapse avowmodal-form formgrp-section" aria-labelledby="headingIRIRMI" data-parent="#custom-accordion-iri-rmi">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-lg-2  offset-lg-10  form-group">
                                @Html.DropDownListFor(m => m.SaveFormAModel.section, (IEnumerable
<SelectListItem>)ViewData["RMIIRIYear"], new { @Id = "ddlDLPSPYear", @class = "form-control" })
                                @*<select id="ddlDLPSPYear" class="form-control">
                        <option>Year</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option selected="selected" value="2022">2022</option>
                    </select>*@
                            </div>
                            <div class="col-12 text-right" id="divIRM">
                                @{ Html.RenderPartial("_iRMPartial.cshtml"); }
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="accordion custom-accordion mb-3" id="custom-accordion-roadrating">
            <div class="card mb-0">
                <div class="card-header" id="headingRoadRating">
                    <h5 class="m-0">
                        <a class="custom-accordion-title py-1 collapsed" data-toggle="collapse" href="#AccordRoadRating" aria-expanded="false" aria-controls="collapseRoadRating">
                            <span class="float-left">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                            </span>
                            <span class="float-left" style="padding: 4px 8px;">
                                Road Furniture Condition Rating
                            </span>
                        </a>
                    </h5>
                </div>
                <div id="AccordRoadRating" class="collapse avowmodal-form formgrp-section" aria-labelledby="headingRoadRating" data-parent="#custom-accordion-roadrating">
                    <div class="container-fluid">
                        <div class="row my-2">
                            <div class="col-md-12 mb-2">
                                <div class="float-left form-group">
                                    <label>RMU</label>

                                    @Html.DropDownListFor(m => m.SaveFormAModel.RFCRMU, (IEnumerable
                                    <SelectListItem>)ViewData["RFCRMU"], new { @Id = "RFCRMU", @class = "form-control", @default = "MIRI" })

                                </div>
                                <div class="float-right form-group">
                                    <label>Year</label>

                                    @Html.DropDownListFor(m => m.SaveFormAModel.RFCYear, (IEnumerable
                                    <SelectListItem>)ViewData["RFCYear"], new { @Id = "RFCYear", @class = "form-control" })

                                </div>
                            </div>
                            <div class="col-md-12 mb-2">
                                <div class="row" id="divPie">
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
            @* <div class="col-md-4 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="ldcardheader">Culvert</div>
                            <img src="~/assets/media/RoadFurnitureRating/MIRI/LHSMIRI-7.svg" class="px-lg-4 img-fluid" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="ldcardheader">Bridge</div>
                            <img src="~/assets/media/RoadFurnitureRating/MIRI/LHSMIRI-8.svg" class="px-lg-4 img-fluid" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="ldcardheader">Guardrail</div>
                            <img src="~/assets/media/RoadFurnitureRating/MIRI/LHSMIRI-9.svg" class="px-lg-4 img-fluid" />
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>
<!--</div>

</div>
                </div>
            </div>
        </div>

    </div>
</div>-->
@*<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>*@
@*<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>*@

<script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/custom.js"></script>
@*<script src="~/js/jquery.timeentry/jquery-2.2.4.min.js"></script>*@

<script>
    $(document).ready(function () {
        $("#RMU").chosen();
        $("#section-dd").val("");
        var dt = new Date();
        var CurrentYear = dt.getFullYear();
        $("#RFCRMU").val('MIRI').trigger('chosen:updated');
        $("#RFCYear").val(CurrentYear).trigger('chosen:updated');
        var values = [];
        GetHomePageCount({});
        GetSectionByRMU({});
        $('#ddlDLPSPYear').change(function () {
            var dllyear = $('#ddlDLPSPYear').val();

            $('#divIRM').load('Home/IRMDetails?year=' + dllyear);
        });
        $('#divmySPIChart').hide();

        GetHomePageCount({})
        GetSectionByRMU({})
        GetRoadFurnConditionPieChart({})
    });
    $("#RMU").on('change', function () {
        var obj = new Object();
        $("#section-dd").val("");
        GetHomePageCount(obj)
        if ($("#RMU").val() != null || $("#RMU").val() != undefined) {
            GetSectionByRMU(obj)
        }

    });
    //$("#RMU").trigger("change")
    $("#section-dd").on('change', function () {
        var obj = new Object();
        GetHomePageCount(obj)
    })

    $("#ddlDLPSPIYear").on('change', function () {
        //var obj = new Object();
        //GetHomePageCount(obj)
        var dllyear = $("#ddlDLPSPIYear").val();
        $('#divSPI').load('Home/Details?year=' + dllyear);
        //setInterval(updateJS(), 50000);
    });

    $("#RFCRMU").on('change', function () {
        var obj = new Object();
        GetRoadFurnConditionPieChart({ obj })
    });
    $("#RFCYear").on('change', function () {
        var obj = new Object();
        GetRoadFurnConditionPieChart({ obj })
    });



    //Calling New landing Service
    function GetClosedNODResult(reqObj) {
        reqObj.RMU = $("#RMU").val();
        reqObj.Section = $("#section-dd").val();
        InitAjaxLoading();
        $.ajax(
            {
                url: "/home/GetClosedNODResult",
                data: reqObj,
                type: 'Post',
                success: function (data) {
                    HideAjaxLoading();
                    $("#closedNOD").text(data);
                },
                error: function (data) {
                    HideAjaxLoading();
                    console.error("Error", data);
                }
            }
        );
    }

    function GetSectionByRMU(sectObj) {
        sectObj.RMU = $("#RMU").val();
        sectObj.Section = $("#section-dd").val();
        InitAjaxLoading();
        $.ajax(
            {
                url: "/home/GetSectionbyRMU",
                data: sectObj,
                type: 'Post',
                success: function (data) {
                    HideAjaxLoading();
                    $('#section-dd option').remove();
                    $('#section-dd').append($('<option>').val(null).text('Select Section Code'))

                    $.each(data, function (index, value) {
                        $('#section-dd').append($('<option>').val(value.value).text(value.text))
                        $('#section-dd').trigger("chosen:updated");
                    })
                },
                error: function (data) {
                    HideAjaxLoading();
                    app.ShowErrorMessage(data.message);
                }
            }
        );
    }

    function GetNCNToBeClosed() {
        InitAjaxLoading();
        $.ajax(
            {
                url: "/home/GetNCNToBeClosed",
                type: 'Post',
                success: function (data) {
                    HideAjaxLoading();
                    $("#closedNCN").text(data);
                },
                error: function (data) {
                    HideAjaxLoading();
                    app.ShowErrorMessage(data);
                }
            }
        );
    }

    function GetNCRToBeClosed() {
        InitAjaxLoading();
        $.ajax(
            {
                url: "/home/GetNCRToBeClosed",
                type: 'Post',
                success: function (data) {
                    HideAjaxLoading();
                    $("#closedNCR").text(data);
                },
                error: function (data) {
                    HideAjaxLoading();
                    app.ShowErrorMessage(data);
                }
            }
        );
    }

    function GetHomePageCount(reqObj) {
        reqObj.RMU = $("#RMU").val();
        reqObj.Section = $("#section-dd").val();
        InitAjaxLoading();
        console.log(reqObj)
        $.ajax(
            {
                url: "/home/GetHomePageActiveCount",
                data: reqObj,
                type: 'Post',
                success: function (data) {
                    HideAjaxLoading();
                    $("#closedNOD").text(data.landingNodCount);
                    $("#closedNCN").text(data.landingNcnCount);
                    $("#closedNCR").text(data.landingNcrCount);
                    console.log(reqObj.Section)
                },
                error: function (data) {
                    HideAjaxLoading();
                    app.ShowErrorMessage(data.message);
                }
            }
        );
    }

    function GetDLPSPI(reqObj) {
        //reqObj.RMU = $("#RMU").val();
        //reqObj.Section = $("#ddlDLPSPIYear").val();
        //InitAjaxLoading();
        //console.log(reqObj)
        $.ajax(
            {
                url: "/home/Details?year=" + $("#ddlDLPSPIYear").val(),
                data: reqObj,
                type: 'Get',
                success: function (data) {
                    HideAjaxLoading();
                    $("#closedNOD").text(data.landingNodCount);
                    $("#closedNCN").text(data.landingNcnCount);
                    $("#closedNCR").text(data.landingNcrCount);
                    console.log(reqObj.Section)
                },
                error: function (data) {
                    HideAjaxLoading();
                    app.ShowErrorMessage(data.message);
                }
            }
        );
    }

    function GetRoadFurnConditionPieChart(reqObj) {
        var ultimateColors = [
            ['rgb(0,173,78)', 'rgb(251,189,0)', 'rgb(251,0,0)']];
        reqObj.RFCRM = $("#RFCRMU").val();
        reqObj.RFCYr = $("#RFCYear").val();
        InitAjaxLoading();
        var html = '';
        console.log(reqObj)
        var conditionKm1;
        var conditionKm2;
        var conditionKm3;
        var FeaturestrHardCode = "";
        //container.replaceChildren(p1, p2);

        $('#divRFCPie').empty();
        $('#divPie').empty();
        var x = 0;
        $.ajax(
            {
                url: "/home/GetRoadFurnitureConditionPieChart",
                data: { RFCRMU: $("#RFCRMU").val(), RFCYear: $("#RFCYear").val() },
                type: 'post',
                success: function (data) {
                    HideAjaxLoading();
                    x = 1;
                    for (var i in data) {
                        if ((data[i].fsdunit).toUpperCase() == 'KM') {
                            conditionKm1 = data[i].rfCondition1 / 10;
                            conditionKm2 = data[i].rfCondition2 / 10;
                            conditionKm3 = data[i].rfCondition3 / 10;
                        }
                        else {
                            conditionKm1 = data[i].rfCondition1;
                            conditionKm2 = data[i].rfCondition2;
                            conditionKm3 = data[i].rfCondition3;
                        }
                        var Featurestr = data[i].rfcFeature;
                        //console.log(str.replace(/\s/g, '#'));
                        
                        var FeaturestrTrim = $.trim(Featurestr.replace(/\s/g, ''));
                        //alert(FeaturestrTrim);
                        
                        if (FeaturestrTrim == "CARRIAGEWAY(PAVED)") { FeaturestrHardCode = "CARRIAGEWAY (PAVED)" }
                        if (FeaturestrTrim == "CARRIAGEWAY(UNPAVED)") { FeaturestrHardCode = "CARRIAGEWAY (UNPAVED)" }
                        if (FeaturestrTrim == "CENTERLINEMARKING") { FeaturestrHardCode = "CENTRELINE MARKING" }
                        if (FeaturestrTrim == "EDGELINEMARKINGLEFT") { FeaturestrHardCode = "EDGELINE MARKING LEFT" }
                        if (FeaturestrTrim == "DITCHLEFT") { FeaturestrHardCode = "DITCH LEFT" }
                        if (FeaturestrTrim == "DRAINLEFT") { FeaturestrHardCode = "DRAIN LEFT" }
                        if (FeaturestrTrim == "SHOULDERLEFT") { FeaturestrHardCode = "SHOULDER LEFT" }
                        if (FeaturestrTrim == "EDGELINEMARKINGRIGHT") { FeaturestrHardCode = "EDGELINE MARKING RIGHT" }
                        if (FeaturestrTrim == "DITCHRIGHT") { FeaturestrHardCode = "DITCH RIGHT" }
                        if (FeaturestrTrim == "DRAINRIGHT") { FeaturestrHardCode = "DRAIN RIGHT" }
                        if (FeaturestrTrim == "SHOULDERRIGHT") { FeaturestrHardCode = "SHOULDER RIGHT" }
                        if (FeaturestrTrim == "ROADSTUDS" || FeaturestrTrim == "ROADSTUDSLEFT" || FeaturestrTrim == "ROADSTUDSRIGHT") { FeaturestrHardCode = "ROAD STUDS" }
                        if (FeaturestrTrim == "SIGNS") { FeaturestrHardCode = "SIGNS" }
                        if (FeaturestrTrim == "CULVERTS") { FeaturestrHardCode = "CULVERTS" }
                        if (FeaturestrTrim == "BRIDGES") { FeaturestrHardCode = "BRIDGES" }
                        if (FeaturestrTrim == "GUARDRAIL") { FeaturestrHardCode = "GUARDRAILS" }
                        if (FeaturestrTrim == "RETAININGWALL") { FeaturestrHardCode = "RETAINING WALLS" }

                          html =
                            '<div class="col-md-4 my-2">' +
                            '<div class="card">' +
                            ' <div class="card-header bg-light text-center font-14 font-weight-bold">' +
                        '<span id="RFCFeature">' + FeaturestrHardCode + '</span>' +
                            '</div>' +
                            '<div class="card-body">' +
                            '<div id="divRFCPie_' + x + '" style="width:100%;height:100%;">' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div >';
                        $('#divPie').append(html);

                        var datapie = [{
                            values: [data[i].rfConditionper1, data[i].rfConditionper2, data[i].rfConditionper3],
                            labels: ['Condition 1 ' + '(' + conditionKm1 + ' ' + data[i].fsdunit + ')', 'Condition 2 ' + '(' + conditionKm2 + ' ' + data[i].fsdunit + ')', 'Condition 3 ' + '(' + conditionKm3 + ' ' + data[i].fsdunit + ')'],
                            type: 'pie',
                            textinfo: "percent",
                            textposition: "outside",
                            automargin: true,
                            marker: {
                                colors: ultimateColors[0]
                            },
                            domain: {
                                row: i,
                                column: i
                            },

                        }];
                        var layout = {
                            autosize: true,
                            height: 300,
                            width: 300,
                            showlegend: true,
                            legend: { "orientation": "h", },
                            margin: { l: 100, r: 0, b: 0, t: 0, pad: 0 },
                            xaxis: { visible: false },
                            yaxis: { visible: false },
                        };


                        Plotly.newPlot('divRFCPie_' + x, datapie, layout);
                        x++;
                    }

                },
                error: function (data) {
                    HideAjaxLoading();
                    app.ShowErrorMessage(data.message);
                }
            }
        );
    }

</script>



<style>
    .svg-container > svg {
        width: 100% !important;
        height: 100% !important;
    }

    .modebar-group {
        display: none;
        visibility: hidden
    }
</style>