@model RAMMS.Web.UI.Models.DLPModel;
@using RAMMS.Business.ServiceProvider;
@using RAMMS.DTO.RequestBO;
@inject RAMMS.Business.ServiceProvider.Interfaces.IDDLookUpService ddlService;
@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;


@{
    ViewBag.TabTitle = "Service Provider Performance Indicator (SPI)";
    ViewData["Title"] = "Service Provider Performance Indicator (SPI)";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";

    var username = security.UserName;

    var today = DateTime.Today.Year;

    IEnumerable<SelectListItem> year = (await ddlService
        .GetLookups(new DDLookUpDTO { Type = "Year" })).Where(s => Convert.ToInt32(s.DdlTypeValue) >= 2020)
        .Select(s => new SelectListItem
                {
                    Text = s.DdlTypeValue,
                    Value = s.DdlTypeValue
                }).ToArray();
}

<style>
    .form-group .form-control.border-error,
    .border-error {
        border-color: red !important;
        border-width: 1px;
    }

</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#formDlpYear").val('@today').trigger('chosen:updated');

        $("#formDlpYear").on("change", function () {
            getData($("#formDlpYear").val());
        });

        $('.allow_numeric').keypress(function (event) {
            var $this = $(this);
            if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
                ((event.which < 48 || event.which > 57) &&
                    (event.which != 0 && event.which != 8))) {
                event.preventDefault();
            }

            var text = $(this).val();
            if ((event.which == 46) && (text.indexOf('.') == -1)) {
                setTimeout(function () {
                    if ($this.val().substring($this.val().indexOf('.')).length > 2) {
                        $this.val($this.val().substring(0, $this.val().indexOf('.') + 2));
                    }
                }, 1);
            }

            if ((text.indexOf('.') != -1) &&
                (text.substring(text.indexOf('.')).length > 2) &&
                (event.which != 0 && event.which != 8) &&
                ($(this)[0].selectionStart >= text.length - 2)) {
                event.preventDefault();
            }
        });


    });

    function getData(year) {
        var req = {};
        req.Year = year;
        $.ajax({
            url: '/DLP/GetSPIByYearFormSPI',
            dataType: 'JSON',
            data: req,
            type: 'Post',
            success: function (data) {
                $('#tblDivision tbody tr').remove();
                if(data.divisionMiri.length ==0){
                    $('#tblDivision tbody').append("<tr><td colspan='13'>No Records Found</td>"
                        + "</tr>");
                 }
                for (var i = 0; i < data.divisionMiri.length; i++) {

                    $('#tblDivision tbody').append("<tr>"
                        + "<td><b>"+ GetMonthName(data.divisionMiri[i].month) +"</b></td>"
                        + "<td>RM "+ assignZero(data.divisionMiri[i].mPlanned) +"</td>"
                        + "<td>RM "+ assignZero(data.divisionMiri[i].mActual) +"</td>"
                        + "<td>RM "+ assignZero(data.divisionMiri[i].cPlan) +"</td>"
                        + "<td>RM "+ assignZero(data.divisionMiri[i].cActual) +"</td>"
                        + "<td>RM "+ assignZero(data.divisionMiri[i].piWorkActual) +"</td>"
                        + "<td>"+ assignZero(data.divisionMiri[i].pai)+"</td>"
                        + "<td>"+ assignZero(data.divisionMiri[i].eff) +"</td>"
                        + "<td>"+ assignZero(data.divisionMiri[i].rb) +"</td>"
                        + "<td>"+ assignZero(data.divisionMiri[i].iw) +"</td>"
                        + "<td>"+ assignZero(data.divisionMiri[i].spi) +"</td>"
                        + "<td>"+ assignZero(data.divisionMiri[i].plannedPer) +" %</td>"
                        + "<td>"+ assignZero(data.divisionMiri[i].actualPer) +" %</td>"
                        + "</tr>");
                }
                $('#tblMiri tbody tr').remove();
                $("#editMiri").show();
                if(data.rmuMiri.length ==0){
                    $('#tblMiri tbody').append("<tr><td colspan='13'>No Records Found</td>"
                        + "</tr>");
                    $("#editMiri").hide();
                    $("#saveMiri").hide();
                    $("#cancelMiri").hide();

                 }
                for (var i = 0; i < data.rmuMiri.length; i++) {
                    $('#tblMiri tbody').append("<tr id='miri_" + i + "' pkid='" + data.rmuMiri[i].pkRefNo + "'>"
                        + "<td><b>"+ GetMonthName(data.rmuMiri[i].month) +"</b></td>"
                        + "<td>RM "+ assignZero(data.rmuMiri[i].mPlanned) +"</td>"
                        + "<td>RM "+ assignZero(data.rmuMiri[i].mActual) +"</td>"
                        + "<td>RM "+ assignZero(data.rmuMiri[i].cPlan) +"</td>"
                        + "<td>RM "+ assignZero(data.rmuMiri[i].cActual) +"</td>"
                        + "<td>RM "+ assignZero(data.rmuMiri[i].piWorkActual) +"</td>"
                        + "<td class='editpi'>"+ assignZero(data.rmuMiri[i].pai) +"</td>"
                        + "<td class='editeff allow_numeric'>"+ assignZero(data.rmuMiri[i].eff) +"</td>"
                        + "<td class='editrb allow_numeric'>"+ assignZero(data.rmuMiri[i].rb) +"</td>"
                        + "<td class='editiw allow_numeric'>"+ assignZero(data.rmuMiri[i].iw) +"</td>"
                        + "<td class='editspi'>"+ assignZero(data.rmuMiri[i].spi) +"</td>"
                        + "<td>"+ assignZero(data.rmuMiri[i].plannedPer) +" %</td>"
                        + "<td>"+ assignZero(data.rmuMiri[i].actualPer) +" %</td>"
                        + "</tr>");
                }
                $('#tblBtn tbody tr').remove();
                 $("#editBtn").show();
                 if(data.rmuBTN.length ==0){
                    $('#tblBtn tbody').append("<tr><td colspan='13'>No Records Found</td>"
                        + "</tr>");
                     $("#editBtn").hide();
                    $("#saveBtn").hide();
                    $("#cancelBtn").hide();
                 }
                for (var i = 0; i < data.rmuBTN.length; i++) {
                    $('#tblBtn tbody').append("<tr id='btn_" + i + "' pkid='" + data.rmuBTN[i].pkRefNo + "'>"
                        + "<td><b>"+ GetMonthName(data.rmuBTN[i].month) +"</b></td>"
                        + "<td>RM "+ assignZero(data.rmuBTN[i].mPlanned) +"</td>"
                        + "<td>RM "+ assignZero(data.rmuBTN[i].mActual) +"</td>"
                        + "<td>RM "+ assignZero(data.rmuBTN[i].cPlan) +"</td>"
                        + "<td>RM "+ assignZero(data.rmuBTN[i].cActual) +"</td>"
                        + "<td>RM "+ assignZero(data.rmuBTN[i].piWorkActual) +"</td>"
                        + "<td class='editspi'>"+ assignZero(data.rmuBTN[i].pai) +"</td>"
                        + "<td class='editeff allow_numeric'>"+ assignZero(data.rmuBTN[i].eff) +"</td>"
                        + "<td class='editrb allow_numeric'>"+ assignZero(data.rmuBTN[i].rb) +"</td>"
                        + "<td class='editiw allow_numeric'>"+ assignZero(data.rmuBTN[i].iw) +"</td>"
                        + "<td class='editspi'>"+ assignZero(data.rmuBTN[i].spi) +"</td>"
                        + "<td>"+ assignZero(data.rmuBTN[i].plannedPer) +" %</td>"
                        + "<td>"+ assignZero(data.rmuBTN[i].actualPer) +" %</td>"
                        + "</tr>");
                }
            },
            error: function (data) {
                console.error(data);
            }
        });
    }

    function assignZero(val){
        return typeof val == 'number' ? val.toFixed(2) : '0.00';
    }

    function GetMonthName(mnth){
         switch (mnth)
            {
                case 1:
                    return "January";
                case 2:
                    return "February";
                case 3:
                    return "March";
                case 4:
                    return "April";
                case 5:
                    return "May";
                case 6:
                    return "June";
                case 7:
                    return "July";
                case 8:
                    return "August";
                case 9:
                    return "September";
                case 10:
                    return "October";
                case 11:
                    return "November";
                case 12:
                    return "December";
                default:
                    return "";
            }
    }

    function Edit(obj){
        $("#tbl" + obj + " tbody tr").each(function(){
            var one = $(this).find('.editeff').html();
            $(this).find('.editeff').html("<input class='allow_numeric editp {lt,15,PI (EFF)}' type='text' style='width:80px' preval='" + one + "' value='" + one + "' />")
            var two = $(this).find('.editrb').html();
            $(this).find('.editrb').html("<input  class='allow_numeric editr {lt,5,PI (RB)}'  type='text' style='width:80px'   preval='" + two + "'  value='" + two + "' />")
            var three = $(this).find('.editiw').html();
            $(this).find('.editiw').html("<input type='text'  class='allow_numeric editr {lt,5,PI (IW)}'  style='width:80px'   preval='" + three + "'  value='" + three + "' />")
            var four = $(this).find('.editspi').html();
            $(this).find('.editspi').html("<input type='text' disabled  style='width:80px'   preval='" + four + "'  value='" + four + "' />")
        });

        $("#edit"+obj).hide();
        $("#save"+obj).show();
        $("#cancel"+obj).show();

        $('.editp').blur(function (event) {
           
            var eff = $(this).val();
           
            if (eff != "" && +eff > 15){
                app.ShowErrorMessage("Value cannot be more than 15.00");
                $(this).val('');
                 $(this).focus();
                return false;
            }
            Calculate($(this));
            return true;
        });

        $('.editr').blur(function (event) {
        var rb = $(this).val();
            if (rb != "" && +rb > 5){
                app.ShowErrorMessage("Value cannot be more than 5.00");
                $(this).val('');
                 $(this).focus();
                return false;
            }
            Calculate($(this));
            return true;
        });
    }

   function Calculate(obj){
       var tr = $(obj).closest("tr");
        var pi = $(tr).find(".editpi").html();
        pi = (pi != "" ? parseFloat(pi) : 0)*80;
        
        var eff = $(tr).find(".editeff").find("input").val();
        eff = (eff != "" ? parseFloat(eff) : 0);
        
        var rb = $(tr).find(".editrb").find("input").val();
        rb = (rb != "" ? parseFloat(rb) : 0);
        
        var iw = $(tr).find(".editiw").find("input").val();
        iw = (iw != "" ? parseFloat(iw) : 0);

        var spi = $(tr).find(".editspi").find("input");
        spi.val(parseFloat(pi+eff+rb-iw))
   }

    function Save(obj){
         InitAjaxLoading();
         var Spi = [];

        $("#tbl" + obj + " tbody tr").each(function(){
            var one = $(this).find('.editeff').find("input");
            var two = $(this).find('.editrb').find("input");
            var three = $(this).find('.editiw').find("input");
             var four = $(this).find('.editspi').find("input");

             var eff = one.val();
             var rb = two.val();
             var iw = three.val();
             var spi = four.val();

             if (eff != "" && +eff > 15){
                  $(one).addClass("validate");
             }else{
                 $(one).removeClass("validate");
                 $(one).removeClass("border-error");
             }


             if (rb != "" && +rb > 5){
                  $(two).addClass("validate");
             }else{
                 $(two).removeClass("validate");
                 $(two).removeClass("border-error");
             }

             if (iw != "" && +iw > 5){
                  $(three).addClass("validate");
             }else{
                 $(three).removeClass("validate");
                 $(three).removeClass("border-error");
             }


            var row = new Object();
            row.id = $(this).attr("pkid");
            row.eff = eff;
            row.rb = rb;
            row.iw = iw;
            row.spi = spi;
            Spi.push(row);
        });
         if (ValidatePage('#divSPI'))
         {
            $.ajax({
                url: '/DLP/Save',
                data: {spiData : Spi},
                type: 'POST',
                success: function (data) {
                    HideAjaxLoading();
                    if (data == -1) {
                        app.ShowErrorMessage(data.errorMessage);
                    }
                    else {
                        app.ShowSuccessMessage('Saved Successfully', false);
                        location.href = "/DLP/FormSpi";
                    }
                }
            });

            $("#edit"+obj).show();
            $("#save"+obj).hide();
            $("#cancel"+obj).hide();
         }
         else
         HideAjaxLoading();

    }

    function Cancel(obj){
        $("#tbl" + obj + " tbody tr").each(function(){
            var one = $(this).find('.editeff').find("input").attr("preval");
            $(this).find('.editeff').html(one);
            var two = $(this).find('.editrb').find("input").attr("preval");
            $(this).find('.editrb').html(two);
            var three = $(this).find('.editiw').find("input").attr("preval");
            $(this).find('.editiw').html(three);
            var four = $(this).find('.editspi').find("input").attr("preval");
            $(this).find('.editspi').html(four);
        });

        $("#edit"+obj).show();
        $("#save"+obj).hide();
        $("#cancel"+obj).hide();
    }
</script>
<form id="">
    <div class="container-fluid" id="divSPI">
        <div class="row">
            <div class="col-12">
                <div class="w-100 d-flex justify-content-md-between py-2 align-items-center">
                    <span class="mb-0 font-weight-bold font-20 mt-3">    Service Provider Performance Indicator (SPI)</span>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-10 form-group mt-3">
                <label>Year</label>
                @Html.DropDownList("DLPYear", (IEnumerable<SelectListItem>)year, "Select Year", new { @Id = "formDlpYear", @class = "form-control" })
            </div>
        </div>


        <div class="accordion custom-accordion mb-3" id="custom-accordion-one">
            <div class="card mb-0">
                <div class="card-header" id="headingOne">
                    <h5 class="m-0">
                        <a class="custom-accordion-title py-1" data-toggle="collapse" href="#AccordPage1" aria-expanded="true" aria-controls="collapseOne">
                            <span class="float-left">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                            </span>
                            <span class="float-left" style="padding: 4px 8px;">
                                Division Miri
                            </span>
                        </a>
                    </h5>
                </div>
                <div id="AccordPage1" class="collapse avowmodal-form formgrp-section show" aria-labelledby="headingOne" data-parent="#custom-accordion-one">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                        <div class="dataTables_scrollBody">
                                            <div class="dataTables_scroll">
                                                <div class="w-100 position-relative in-tbl-btns custom-tbl">
                                                    <table class="table w-100 nowrap dataTable no-footer" id="tblDivision">
                                                        <thead style="background-color: #c8e1ff">
                                                            <tr>
                                                                <th class="text-center">&nbsp;</th>
                                                                <th class="text-center">
                                                                    <b>Monthly Planned</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>Monthly Actual</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>Cul.Plan</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>Cul.Actual</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>PI work act</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>PAI</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>PI (EFF)</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>PI (RB)</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>PI (IW)</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>SPI</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>Planned %</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>Actual %</b>
                                                                </th>
                                                            </tr>

                                                        </thead>
                                                        <tbody>
                                                            @{

                                                                if (Model.DivisionMiri.Count == 0)
                                                                {
                                                                    <tr>
                                                                        <td colspan="13">No Records found</td>
                                                                    </tr>
                                                                }

                                                                for (int i = 0; i < Model.DivisionMiri.Count; i++)
                                                                {
                                                                    <tr>
                                                                        <td><b>@RAMMS.Common.Helpers.GetMonthName((int)Model.DivisionMiri[i].Month)</b></td>
                                                                        <td style="text-align:right">RM @Model.DivisionMiri[i].MPlanned</td>
                                                                        <td style="text-align:right">RM @Model.DivisionMiri[i].MActual</td>
                                                                        <td style="text-align:right">RM @Model.DivisionMiri[i].CPlan</td>
                                                                        <td style="text-align:right">RM @Model.DivisionMiri[i].CActual</td>
                                                                        <td style="text-align:center">@Model.DivisionMiri[i].PiWorkActual  </td>
                                                                        <td style="text-align:center">@Model.DivisionMiri[i].Pai</td>
                                                                        <td style="text-align:center">@Model.DivisionMiri[i].Eff</td>
                                                                        <td style="text-align:center">@Model.DivisionMiri[i].Rb</td>
                                                                        <td style="text-align:center">@Model.DivisionMiri[i].Iw</td>
                                                                        <td style="text-align:center">@Model.DivisionMiri[i].Spi</td>
                                                                        <td style="text-align:center">@Model.DivisionMiri[i].PlannedPer %</td>
                                                                        <td style="text-align:center">@Model.DivisionMiri[i].ActualPer %</td>
                                                                    </tr>
                                                                }
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion custom-accordion mb-3" id="custom-accordion-two">
            <div class="card mb-0">
                <div class="card-header" id="headingTwo">
                    <h5 class="m-0">
                        <a class="custom-accordion-title py-1" data-toggle="collapse" href="#AccordPage2" aria-expanded="true" aria-controls="collapseTwo">
                            <span class="float-left">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                            </span>
                            <span class="float-left" style="padding: 4px 8px;">
                                RMU Miri

                            </span>
                        </a>
                    </h5>
                </div>
                <div id="AccordPage2" class="collapse avowmodal-form formgrp-section show" aria-labelledby="headingTwo" data-parent="#custom-accordion-two">
                    <div class="card-body">
                        <div id="EquipmentListGrid" class="w-100 dt-tbl-section">
                            <div class="text-right float-right p-2">
                                @*<div class="btn-group dropright" id="actiondropdown">
                                    <button id="actionclick" type="button" class="btn btn-sm btn-themebtn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Click Me
                                    </button>
                                    <div class="dropdown-menu">
                                    <button type="button" class="dropdown-item editdel-btns" onclick="Edit('tblMiri')">
                                    <span class="edit-icon"></span> Edit
                                    </button>
                                    <button type="button" class="dropdown-item editdel-btns" data-toggle="modal" data-target="#myModal1">
                                    <span class="view-icon"></span> View
                                    </button>
                                    </div>
                                    </div>*@
                                <button id="editMiri" type="button" class="btn btn-sm btn-themebtn" onclick="Edit('Miri')">Edit</button>
                                <button id="saveMiri" type="button" style="display:none" class="btn btn-sm btn-themebtn" onclick="Save('Miri')">Save</button>
                                <button id="cancelMiri" type="button" style="display:none" class="btn btn-sm btn-themebtn" onclick="Cancel('Miri')">Cancel</button>
                            </div>
                            <div class="table-responsive">
                                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="dataTables_scrollBody">
                                        <div class="dataTables_scroll">
                                            <div class="w-100 position-relative in-tbl-btns custom-tbl">
                                                <table class="table w-100 nowrap dataTable no-footer" id="tblMiri">
                                                    <thead style="background-color: #c8e1ff">
                                                        <tr>
                                                            <th class="text-center">
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Monthly Planned</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b> Monthly Actual</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Cul.Plan</b>
                                                            </th>

                                                            <th class="text-center">
                                                                <b>Cul.Actual</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PI work act</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PAI</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PI (EFF)</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PI (RB)</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PI (IW)</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>SPI</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Planned %</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Actual %</b>
                                                            </th>
                                                        </tr>

                                                    </thead>
                                                    <tbody>

                                                        @{
                                                            if (Model.RmuMiri.Count == 0)
                                                            {
                                                                <tr>
                                                                    <td colspan="13">No Records found</td>
                                                                </tr>
                                                            }
                                                            for (int i = 0; i < Model.RmuMiri.Count; i++)
                                                            {
                                                                <tr id="miri_@i" pkid="@Model.RmuMiri[i].PkRefNo">
                                                                    <td><b>@RAMMS.Common.Helpers.GetMonthName((int)Model.DivisionMiri[i].Month)</b></td>
                                                                    <td style="text-align:right">RM @Model.RmuMiri[i].MPlanned</td>
                                                                    <td style="text-align:right">RM @Model.RmuMiri[i].MActual</td>
                                                                    <td style="text-align:right">RM @Model.RmuMiri[i].CPlan</td>
                                                                    <td style="text-align:right">RM @Model.RmuMiri[i].CActual</td>
                                                                    <td style="text-align:center">@Model.RmuMiri[i].PiWorkActual  </td>
                                                                    <td style="text-align:center" class="editpi">@Model.RmuMiri[i].Pai</td>
                                                                    <td style="text-align:center" class="editeff">@Model.RmuMiri[i].Eff</td>
                                                                    <td style="text-align:center" class="editrb">@Model.RmuMiri[i].Rb</td>
                                                                    <td style="text-align:center" class="editiw"> @Model.RmuMiri[i].Iw</td>
                                                                    <td style="text-align:center" class="editspi">@Model.RmuMiri[i].Spi</td>
                                                                    <td style="text-align:center">@Model.RmuMiri[i].PlannedPer %</td>
                                                                    <td style="text-align:center">@Model.RmuMiri[i].ActualPer %</td>
                                                                </tr>
                                                            }
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion custom-accordion mb-3" id="custom-accordion-two">
            <div class="card mb-0">
                <div class="card-header" id="headingTwo">
                    <h5 class="m-0">
                        <a class="custom-accordion-title py-1 " data-toggle="collapse" href="#AccordPage3" aria-expanded="true" aria-controls="collapseThree">
                            <span class="float-left">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                            </span>
                            <span class="float-left" style="padding: 4px 8px;">
                                RMU Batu Niah

                            </span>
                        </a>
                    </h5>
                </div>
                <div id="AccordPage3" class="collapse avowmodal-form formgrp-section show" aria-labelledby="headingTwo" data-parent="#custom-accordion-two">

                    <div class="card-body">
                        <div id="EquipmentListGrid" class="w-100 dt-tbl-section">
                            <div class="text-right float-right p-2">
                                @*<div class="btn-group dropright" id="actiondropdown">
                                    <button id="actionclick" type="button" class="btn btn-sm btn-themebtn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Click Me
                                    </button>
                                    <div class="dropdown-menu">
                                    <button type="button" class="dropdown-item editdel-btns" onclick="Edit('tblBtn')">
                                    <span class="edit-icon"></span> Edit
                                    </button>
                                    <button type="button" class="dropdown-item editdel-btns">
                                    <span class="view-icon"></span> View
                                    </button>
                                    </div>
                                    </div>*@
                                <button id="editBtn" type="button" class="btn btn-sm btn-themebtn" onclick="Edit('Btn')">Edit</button>
                                <button id="saveBtn" type="button" style="display:none" class="btn btn-sm btn-themebtn" onclick="Save('Btn')">Save</button>
                                <button id="cancelBtn" type="button" style="display:none" class="btn btn-sm btn-themebtn" onclick="Cancel('Btn')">Cancel</button>
                            </div>
                            <div class="table-responsive">
                                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="dataTables_scrollBody">
                                        <div class="dataTables_scroll">
                                            <div class="w-100 position-relative in-tbl-btns custom-tbl">
                                                <table class="table w-100 nowrap dataTable no-footer" id="tblBtn">
                                                    <thead style="background-color: #c8e1ff">
                                                        <tr>
                                                            <th class="text-center">
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Monthly Planned</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Monthly Actual</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Cul.Plan </b>
                                                            </th>

                                                            <th class="text-center">
                                                                <b>Cul.Actual</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PI work act</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PAI</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PI (EFF)</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PI (RB)</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PI (IW) </b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>SPI</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Planned %</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Actual%</b>
                                                            </th>
                                                        </tr>

                                                    </thead>
                                                    <tbody>

                                                        @{

                                                            if (Model.RmuBTN.Count == 0)
                                                            {
                                                                <tr>
                                                                    <td colspan="13">No Records found</td>
                                                                </tr>

                                                            }
                                                            for (int i = 0; i < Model.RmuBTN.Count; i++)
                                                            {
                                                                <tr id="btn_@i" pkid="@Model.RmuBTN[i].PkRefNo">
                                                                    <td><b>@RAMMS.Common.Helpers.GetMonthName((int)Model.DivisionMiri[i].Month)</b></td>
                                                                    <td style="text-align:right">RM @Model.RmuBTN[i].MPlanned</td>
                                                                    <td style="text-align:right">RM @Model.RmuBTN[i].MActual</td>
                                                                    <td style="text-align:right">RM @Model.RmuBTN[i].CPlan</td>
                                                                    <td style="text-align:right">RM @Model.RmuBTN[i].CActual</td>
                                                                    <td style="text-align:center"> @Model.RmuBTN[i].PiWorkActual  </td>
                                                                    <td style="text-align:center" class="editpi">@Model.RmuBTN[i].Pai</td>
                                                                    <td style="text-align:center" class="editeff">@Model.RmuBTN[i].Eff</td>
                                                                    <td style="text-align:center" class="editrb">@Model.RmuBTN[i].Rb</td>
                                                                    <td style="text-align:center" class="editiw"> @Model.RmuBTN[i].Iw</td>
                                                                    <td style="text-align:center"  class="editspi">@Model.RmuBTN[i].Spi</td>
                                                                    <td style="text-align:center">@Model.RmuBTN[i].PlannedPer %</td>
                                                                    <td style="text-align:center">@Model.RmuBTN[i].ActualPer %</td>
                                                                </tr>
                                                            }
                                                        }


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>