@model RAMMS.Web.UI.Models.DLPModel;
@using RAMMS.Business.ServiceProvider;
@using RAMMS.DTO.RequestBO;
@inject RAMMS.Business.ServiceProvider.Interfaces.IDDLookUpService ddlService;
@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;


@{
    ViewBag.TabTitle = "Service Provider Performance Indicator (SPI)";
    ViewData["Title"] = "Service Provider Performance Indicator (SPI)";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";

    var username = security.UserName;

    var Year = Model.Year;

    IEnumerable<SelectListItem> year = (await ddlService
        .GetLookups(new DDLookUpDTO { Type = "Year" })).Where(s => Convert.ToInt32(s.DdlTypeValue) >= 2020)
        .Select(s => new SelectListItem
                {
                    Text = s.DdlTypeValue,
                    Value = s.DdlTypeValue
                }).ToArray();
}
<script type="text/javascript" src="~/js/DLPSpi.js" asp-append-version="true"></script>
<style>
    .form-group .form-control.border-error,
    .border-error {
        border-color: red !important;
        border-width: 1px;
    }

</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#formDlpYear").val('@Year').trigger('chosen:updated');
    });
</script>

<form id="">
    <div class="container-fluid" id="divSPI">
        <div class="row">
            <div class="col-12">
                <div class="w-100 d-flex justify-content-md-between py-2 align-items-center">
                    <span class="mb-0 font-weight-bold font-20 mt-3">Service Provider Performance Indicator (SPI)</span>
                </div>
            </div>         
            <div class="col-lg-2 offset-lg-10 form-group mt-3">
                <label>Year</label>
                @Html.DropDownList("DLPYear", (IEnumerable<SelectListItem>)year, "Select Year", new { @Id = "formDlpYear", @class = "form-control" })
            </div>
            <div class="col-md-12 mb-2">
                <div class="float-left form-group">
                    <button id="syncBtn" type="button" class="btn btn-sm btn-themebtn" onclick="Sync()">Sync</button>
                </div>

            </div>
        </div>


        <div class="accordion custom-accordion mb-3" id="custom-accordion-one">
            <div class="card mb-0">
                <div class="card-header" id="headingOne">
                    <h5 class="m-0">
                        <a class="custom-accordion-title py-1" data-toggle="collapse" href="#AccordPage1" aria-expanded="true" aria-controls="collapseOne">
                            <span class="float-left">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                            </span>
                            <span class="float-left" style="padding: 4px 8px;">
                                Division Miri
                            </span>
                        </a>
                    </h5>
                </div>
                <div id="AccordPage1" class="collapse avowmodal-form formgrp-section show" aria-labelledby="headingOne" data-parent="#custom-accordion-one">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                        <div class="dataTables_scrollBody">
                                            <div class="dataTables_scroll">
                                                <div class="w-100 position-relative in-tbl-btns custom-tbl">
                                                    <table class="table w-100 nowrap dataTable no-footer" id="tblDivision">
                                                        <thead style="background-color: #c8e1ff">
                                                            <tr>
                                                                <th class="text-center">&nbsp;</th>
                                                                <th class="text-center">
                                                                    <b>Monthly Planned</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>Monthly Actual</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>Cul.Plan</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>Cul.Actual</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>PI work act</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>PAI</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>PI (EFF)</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>PI (RB)</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>PI (IW)</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>SPI</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>Planned %</b>
                                                                </th>
                                                                <th class="text-center">
                                                                    <b>Actual %</b>
                                                                </th>
                                                            </tr>

                                                        </thead>
                                                        <tbody>
                                                            @{

                                                                if (Model.DivisionMiri.Count == 0)
                                                                {
                                                                    <tr>
                                                                        <td colspan="13">No Records found</td>
                                                                    </tr>
                                                                }

                                                                for (int i = 0; i < Model.DivisionMiri.Count; i++)
                                                                {
                                                                    <tr>
                                                                        <td><b>@RAMMS.Common.Helpers.GetMonthName((int)Model.DivisionMiri[i].Month)</b></td>
                                                                        <td style="text-align:right">RM @Model.DivisionMiri[i].MPlanned</td>
                                                                        <td style="text-align:right">RM @Model.DivisionMiri[i].MActual</td>
                                                                        <td style="text-align:right">RM @Model.DivisionMiri[i].CPlan</td>
                                                                        <td style="text-align:right">RM @Model.DivisionMiri[i].CActual</td>
                                                                        <td style="text-align:center">@Model.DivisionMiri[i].PiWorkActual  </td>
                                                                        <td style="text-align:center">@Model.DivisionMiri[i].Pai</td>
                                                                        <td style="text-align:center">@Model.DivisionMiri[i].Eff</td>
                                                                        <td style="text-align:center">@Model.DivisionMiri[i].Rb</td>
                                                                        <td style="text-align:center">@Model.DivisionMiri[i].Iw</td>
                                                                        <td style="text-align:center">@Model.DivisionMiri[i].Spi</td>
                                                                        <td style="text-align:center">@Model.DivisionMiri[i].PlannedPer %</td>
                                                                        <td style="text-align:center">@Model.DivisionMiri[i].ActualPer %</td>
                                                                    </tr>
                                                                }
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion custom-accordion mb-3" id="custom-accordion-two">
            <div class="card mb-0">
                <div class="card-header" id="headingTwo">
                    <h5 class="m-0">
                        <a class="custom-accordion-title py-1" data-toggle="collapse" href="#AccordPage2" aria-expanded="true" aria-controls="collapseTwo">
                            <span class="float-left">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                            </span>
                            <span class="float-left" style="padding: 4px 8px;">
                                RMU Miri

                            </span>
                        </a>
                    </h5>
                </div>
                <div id="AccordPage2" class="collapse avowmodal-form formgrp-section show" aria-labelledby="headingTwo" data-parent="#custom-accordion-two">
                    <div class="card-body">
                        <div id="EquipmentListGrid" class="w-100 dt-tbl-section">
                            <div class="text-right float-right p-2">
                                <button id="editMiri" type="button" class="btn btn-sm btn-themebtn" onclick="Edit('Miri')">Edit</button>
                                <button id="saveMiri" type="button" style="display:none" class="btn btn-sm btn-themebtn" onclick="Save('Miri')">Save</button>
                                <button id="cancelMiri" type="button" style="display:none" class="btn btn-sm btn-themebtn" onclick="Cancel('Miri')">Cancel</button>
                            </div>
                            <div class="table-responsive">
                                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="dataTables_scrollBody">
                                        <div class="dataTables_scroll">
                                            <div class="w-100 position-relative in-tbl-btns custom-tbl">
                                                <table class="table w-100 nowrap dataTable no-footer" id="tblMiri">
                                                    <thead style="background-color: #c8e1ff">
                                                        <tr>
                                                            <th class="text-center">
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Monthly Planned</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b> Monthly Actual</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Cul.Plan</b>
                                                            </th>

                                                            <th class="text-center">
                                                                <b>Cul.Actual</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PI work act</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PAI</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PI (EFF)</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PI (RB)</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PI (IW)</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>SPI</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Planned %</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Actual %</b>
                                                            </th>
                                                        </tr>

                                                    </thead>
                                                    <tbody>

                                                        @{
                                                            if (Model.RmuMiri.Count == 0)
                                                            {
                                                                <tr>
                                                                    <td colspan="13">No Records found</td>
                                                                </tr>
                                                            }
                                                            for (int i = 0; i < Model.RmuMiri.Count; i++)
                                                            {
                                                                <tr id="miri_@i" pkid="@Model.RmuMiri[i].PkRefNo">
                                                                    <td><b>@RAMMS.Common.Helpers.GetMonthName((int)Model.DivisionMiri[i].Month)</b></td>
                                                                    <td style="text-align:right">RM @Model.RmuMiri[i].MPlanned</td>
                                                                    <td style="text-align:right">RM @Model.RmuMiri[i].MActual</td>
                                                                    <td style="text-align:right">RM @Model.RmuMiri[i].CPlan</td>
                                                                    <td style="text-align:right">RM @Model.RmuMiri[i].CActual</td>
                                                                    <td style="text-align:center">@Model.RmuMiri[i].PiWorkActual  </td>
                                                                    <td style="text-align:center" class="editpi">@Model.RmuMiri[i].Pai</td>
                                                                    <td style="text-align:center" class="editeff">@Model.RmuMiri[i].Eff</td>
                                                                    <td style="text-align:center" class="editrb">@Model.RmuMiri[i].Rb</td>
                                                                    <td style="text-align:center" class="editiw"> @Model.RmuMiri[i].Iw</td>
                                                                    <td style="text-align:center" class="editspi">@Model.RmuMiri[i].Spi</td>
                                                                    <td style="text-align:center">@Model.RmuMiri[i].PlannedPer %</td>
                                                                    <td style="text-align:center">@Model.RmuMiri[i].ActualPer %</td>
                                                                </tr>
                                                            }
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion custom-accordion mb-3" id="custom-accordion-two">
            <div class="card mb-0">
                <div class="card-header" id="headingTwo">
                    <h5 class="m-0">
                        <a class="custom-accordion-title py-1 " data-toggle="collapse" href="#AccordPage3" aria-expanded="true" aria-controls="collapseThree">
                            <span class="float-left">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                            </span>
                            <span class="float-left" style="padding: 4px 8px;">
                                RMU Batu Niah

                            </span>
                        </a>
                    </h5>
                </div>
                <div id="AccordPage3" class="collapse avowmodal-form formgrp-section show" aria-labelledby="headingTwo" data-parent="#custom-accordion-two">

                    <div class="card-body">
                        <div id="EquipmentListGrid" class="w-100 dt-tbl-section">
                            <div class="text-right float-right p-2">
                                <button id="editBtn" type="button" class="btn btn-sm btn-themebtn" onclick="Edit('Btn')">Edit</button>
                                <button id="saveBtn" type="button" style="display:none" class="btn btn-sm btn-themebtn" onclick="Save('Btn')">Save</button>
                                <button id="cancelBtn" type="button" style="display:none" class="btn btn-sm btn-themebtn" onclick="Cancel('Btn')">Cancel</button>
                            </div>
                            <div class="table-responsive">
                                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="dataTables_scrollBody">
                                        <div class="dataTables_scroll">
                                            <div class="w-100 position-relative in-tbl-btns custom-tbl">
                                                <table class="table w-100 nowrap dataTable no-footer" id="tblBtn">
                                                    <thead style="background-color: #c8e1ff">
                                                        <tr>
                                                            <th class="text-center">
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Monthly Planned</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Monthly Actual</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Cul.Plan </b>
                                                            </th>

                                                            <th class="text-center">
                                                                <b>Cul.Actual</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PI work act</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PAI</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PI (EFF)</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PI (RB)</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>PI (IW) </b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>SPI</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Planned %</b>
                                                            </th>
                                                            <th class="text-center">
                                                                <b>Actual%</b>
                                                            </th>
                                                        </tr>

                                                    </thead>
                                                    <tbody>

                                                        @{

                                                            if (Model.RmuBTN.Count == 0)
                                                            {
                                                                <tr>
                                                                    <td colspan="13">No Records found</td>
                                                                </tr>

                                                            }
                                                            for (int i = 0; i < Model.RmuBTN.Count; i++)
                                                            {
                                                                <tr id="btn_@i" pkid="@Model.RmuBTN[i].PkRefNo">
                                                                    <td><b>@RAMMS.Common.Helpers.GetMonthName((int)Model.DivisionMiri[i].Month)</b></td>
                                                                    <td style="text-align:right">RM @Model.RmuBTN[i].MPlanned</td>
                                                                    <td style="text-align:right">RM @Model.RmuBTN[i].MActual</td>
                                                                    <td style="text-align:right">RM @Model.RmuBTN[i].CPlan</td>
                                                                    <td style="text-align:right">RM @Model.RmuBTN[i].CActual</td>
                                                                    <td style="text-align:center"> @Model.RmuBTN[i].PiWorkActual  </td>
                                                                    <td style="text-align:center" class="editpi">@Model.RmuBTN[i].Pai</td>
                                                                    <td style="text-align:center" class="editeff">@Model.RmuBTN[i].Eff</td>
                                                                    <td style="text-align:center" class="editrb">@Model.RmuBTN[i].Rb</td>
                                                                    <td style="text-align:center" class="editiw"> @Model.RmuBTN[i].Iw</td>
                                                                    <td style="text-align:center" class="editspi">@Model.RmuBTN[i].Spi</td>
                                                                    <td style="text-align:center">@Model.RmuBTN[i].PlannedPer %</td>
                                                                    <td style="text-align:center">@Model.RmuBTN[i].ActualPer %</td>
                                                                </tr>
                                                            }
                                                        }


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>